{% load staticfiles %}
<!-- Cover Page Area Starts -->
<div class="slider-area black-bg-5 game-slider">
    <div class="slider-active construction-slider owl-dot-style-2 owl-dot-red owl-carousel">
        <div class="single-slider pt-280 pb-280 bg-img" style="background-image:url({% static 'img/slider/slider-1.png' %});">
            <div class="container">
                <div class="slider-content slider-animated-2">
                    <div class="slider-single-img animated text-center">
                        <img class="animated" alt="" src="{% static 'img/slider/single-slider-4.png' %}">
                    </div>
                </div>
            </div>
        </div>
        <div class="single-slider pt-172 pb-172 bg-img" style="background-image:url({% static 'img/slider/slider-2.png' %});">
            <div class="container">
                <div class="slider-content slider-animated-2">
                    <div class="slider-single-img animated text-center">
                        <img class="animated" alt="" src="{% static 'img/slider/single-slider-5.png' %}">
                    </div>
                </div>
            </div>
        </div>
        <div class="single-slider pt-169 pb-169 bg-img" style="background-image:url({% static 'img/slider/slider-3.png' %});">
            <div class="container">
                <div class="slider-content slider-animated-2">
                    <div class="slider-single-img animated text-center">
                        <img class="animated" alt="" src="{% static 'img/slider/single-slider-6.png' %}">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="banner-area black-bg-5 pt-65">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="banner-img banner-hover banner-mrg">
                    <a href="#"><img alt="" src="{% static 'img/banner/banner-game-1.png' %}"></a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="banner-img banner-hover">
                    <a href="#"><img alt="" src="{% static 'img/banner/banner-game-2.png' %}"></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Cover Page Area Ends -->
