{% load staticfiles %}
<!-- Console Category Area Starts -->
<div class="product-area pt-60 pb-65 black-bg-5 product-area-game">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="new-arrivals-area">
                    <div class="section-border mb-40">
                        <h4 class="section-title white-title section-bg-black">New Arrival</h4>
                    </div>
                    <div class="product-slider-active-2 nav-style nav-style-game owl-carousel">
                        <div class="single-product-bundle">
                            <div class="single-product-wrapper single-product-game">
                                <div class="single-product-img">
                                    <a href="#">
                                        <img alt="" src="assets/img/product/pro-game-11.png">
                                    </a>
                                </div>
                                <div class="product-content">
                                    <span>Cience Fiction Books</span>
                                    <h4>
                                        <a href="product-details.html">Best Freelancing Guide Ver 2018</a>
                                    </h4>
                                    <div class="product-price-wrapper">
                                        <span>$260.00</span>
                                    </div>
                                </div>
                            </div>
                            <div class="single-product-wrapper single-product-game">
                                <div class="single-product-img">
                                    <a href="#">
                                        <img alt="" src="assets/img/product/pro-game-12.png">
                                    </a>
                                </div>
                                <div class="product-content">
                                    <span>Cience Fiction Books</span>
                                    <h4>
                                        <a href="product-details.html">World At War volume 2 Ver 2018</a>
                                    </h4>
                                    <div class="product-price-wrapper">
                                        <span>$260.00</span>
                                    </div>
                                </div>
                            </div>
                            <div class="single-product-wrapper single-product-game">
                                <div class="single-product-img">
                                    <a href="#">
                                        <img alt="" src="assets/img/product/pro-game-13.png">
                                    </a>
                                </div>
                                <div class="product-content">
                                    <span>Cience Fiction Books</span>
                                    <h4>
                                        <a href="product-details.html">Tour Gide for Africa Version 2018</a>
                                    </h4>
                                    <div class="product-price-wrapper">
                                        <span>$260.00</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="single-product-bundle">
                            <div class="single-product-wrapper single-product-game">
                                <div class="single-product-img">
                                    <a href="#">
                                        <img alt="" src="assets/img/product/pro-game-14.png">
                                    </a>
                                </div>
                                <div class="product-content">
                                    <span>Cience Fiction Books</span>
                                    <h4>
                                        <a href="product-details.html">Tour Gide for Africa Version 2018</a>
                                    </h4>
                                    <div class="product-price-wrapper">
                                        <span>$260.00</span>
                                    </div>
                                </div>
                            </div>
                            <div class="single-product-wrapper single-product-game">
                                <div class="single-product-img">
                                    <a href="#">
                                        <img alt="" src="assets/img/product/pro-game-15.png">
                                    </a>
                                </div>
                                <div class="product-content">
                                    <span>Cience Fiction Books</span>
                                    <h4>
                                        <a href="product-details.html">World At War volume 2 Ver 2018</a>
                                    </h4>
                                    <div class="product-price-wrapper">
                                        <span>$260.00</span>
                                    </div>
                                </div>
                            </div>
                            <div class="single-product-wrapper single-product-game">
                                <div class="single-product-img">
                                    <a href="#">
                                        <img alt="" src="assets/img/product/pro-game-16.png">
                                    </a>
                                </div>
                                <div class="product-content">
                                    <span>Cience Fiction Books</span>
                                    <h4>
                                        <a href="product-details.html">Best Freelancing Guide Ver 2018</a>
                                    </h4>
                                    <div class="product-price-wrapper">
                                        <span>$260.00</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="single-product-bundle">
                            <div class="single-product-wrapper single-product-game">
                                <div class="single-product-img">
                                    <a href="#">
                                        <img alt="" src="assets/img/product/pro-game-14.png">
                                    </a>
                                </div>
                                <div class="product-content">
                                    <span>Cience Fiction Books</span>
                                    <h4>
                                        <a href="product-details.html">Tour Gide for Africa Version 2018</a>
                                    </h4>
                                    <div class="product-price-wrapper">
                                        <span>$260.00</span>
                                    </div>
                                </div>
                            </div>
                            <div class="single-product-wrapper single-product-game">
                                <div class="single-product-img">
                                    <a href="#">
                                        <img alt="" src="assets/img/product/pro-game-15.png">
                                    </a>
                                </div>
                                <div class="product-content">
                                    <span>Cience Fiction Books</span>
                                    <h4>
                                        <a href="product-details.html">World At War volume 2 Ver 2018</a>
                                    </h4>
                                    <div class="product-price-wrapper">
                                        <span>$260.00</span>
                                    </div>
                                </div>
                            </div>
                            <div class="single-product-wrapper single-product-game">
                                <div class="single-product-img">
                                    <a href="#">
                                        <img alt="" src="assets/img/product/pro-game-16.png">
                                    </a>
                                </div>
                                <div class="product-content">
                                    <span>Cience Fiction Books</span>
                                    <h4>
                                        <a href="product-details.html">Best Freelancing Guide Ver 2018</a>
                                    </h4>
                                    <div class="product-price-wrapper">
                                        <span>$260.00</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="new-arrivals-area mrg-top-md mrg-top-sm">
                    <div class="section-border mb-40">
                        <h4 class="section-title white-title section-bg-black">Trending Games</h4>
                    </div>
                    <div class="product-slider-active-2 nav-style nav-style-game owl-carousel">
                        <div class="single-product-bundle">
                            <div class="single-product-wrapper single-product-game">
                                <div class="single-product-img">
                                    <a href="#">
                                        <img alt="" src="assets/img/product/pro-game-14.png">
                                    </a>
                                </div>
                                <div class="product-content">
                                    <span>Cience Fiction Books</span>
                                    <h4>
                                        <a href="product-details.html">Bisc Head New Southern ver 2018</a>
                                    </h4>
                                    <div class="product-price-wrapper">
                                        <span>$260.00</span>
                                    </div>
                                </div>
                            </div>
                            <div class="single-product-wrapper single-product-game">
                                <div class="single-product-img">
                                    <a href="#">
                                        <img alt="" src="assets/img/product/pro-game-15.png">
                                    </a>
                                </div>
                                <div class="product-content">
                                    <span>Cience Fiction Books</span>
                                    <h4>
                                        <a href="product-details.html">Be like Me (magazine) version 2018</a>
                                    </h4>
                                    <div class="product-price-wrapper">
                                        <span>$260.00</span>
                                    </div>
                                </div>
                            </div>
                            <div class="single-product-wrapper single-product-game">
                                <div class="single-product-img">
                                    <a href="#">
                                        <img alt="" src="assets/img/product/pro-game-16.png">
                                    </a>
                                </div>
                                <div class="product-content">
                                    <span>Cience Fiction Books</span>
                                    <h4>
                                        <a href="product-details.html">Rival Field Messenger Version 2018</a>
                                    </h4>
                                    <div class="product-price-wrapper">
                                        <span>$260.00</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="single-product-bundle">
                            <div class="single-product-wrapper single-product-game">
                                <div class="single-product-img">
                                    <a href="#">
                                        <img alt="" src="assets/img/product/pro-game-11.png">
                                    </a>
                                </div>
                                <div class="product-content">
                                    <span>Cience Fiction Books</span>
                                    <h4>
                                        <a href="product-details.html">Rival Field Messenger Version 2018</a>
                                    </h4>
                                    <div class="product-price-wrapper">
                                        <span>$260.00</span>
                                    </div>
                                </div>
                            </div>
                            <div class="single-product-wrapper single-product-game">
                                <div class="single-product-img">
                                    <a href="#">
                                        <img alt="" src="assets/img/product/pro-game-12.png">
                                    </a>
                                </div>
                                <div class="product-content">
                                    <span>Cience Fiction Books</span>
                                    <h4>
                                        <a href="product-details.html">Be like Me (magazine) version 2018</a>
                                    </h4>
                                    <div class="product-price-wrapper">
                                        <span>$260.00</span>
                                    </div>
                                </div>
                            </div>
                            <div class="single-product-wrapper single-product-game">
                                <div class="single-product-img">
                                    <a href="#">
                                        <img alt="" src="assets/img/product/pro-game-13.png">
                                    </a>
                                </div>
                                <div class="product-content">
                                    <span>Cience Fiction Books</span>
                                    <h4>
                                        <a href="product-details.html">Bisc Head New Southern ver 2018</a>
                                    </h4>
                                    <div class="product-price-wrapper">
                                        <span>$260.00</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="single-product-bundle">
                            <div class="single-product-wrapper single-product-game">
                                <div class="single-product-img">
                                    <a href="#">
                                        <img alt="" src="assets/img/product/pro-game-11.png">
                                    </a>
                                </div>
                                <div class="product-content">
                                    <span>Cience Fiction Books</span>
                                    <h4>
                                        <a href="product-details.html">Rival Field Messenger Version 2018</a>
                                    </h4>
                                    <div class="product-price-wrapper">
                                        <span>$260.00</span>
                                    </div>
                                </div>
                            </div>
                            <div class="single-product-wrapper single-product-game">
                                <div class="single-product-img">
                                    <a href="#">
                                        <img alt="" src="assets/img/product/pro-game-12.png">
                                    </a>
                                </div>
                                <div class="product-content">
                                    <span>Cience Fiction Books</span>
                                    <h4>
                                        <a href="product-details.html">Be like Me (magazine) version 2018</a>
                                    </h4>
                                    <div class="product-price-wrapper">
                                        <span>$260.00</span>
                                    </div>
                                </div>
                            </div>
                            <div class="single-product-wrapper single-product-game">
                                <div class="single-product-img">
                                    <a href="#">
                                        <img alt="" src="assets/img/product/pro-game-13.png">
                                    </a>
                                </div>
                                <div class="product-content">
                                    <span>Cience Fiction Books</span>
                                    <h4>
                                        <a href="product-details.html">Bisc Head New Southern ver 2018</a>
                                    </h4>
                                    <div class="product-price-wrapper">
                                        <span>$260.00</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="new-arrivals-area mrg-top-md mrg-top-sm">
                    <div class="section-border mb-40">
                        <h4 class="section-title white-title section-bg-black">Popular in Community</h4>
                    </div>
                    <div class="product-slider-active-2 nav-style nav-style-game owl-carousel">
                        <div class="single-product-bundle">
                            <div class="single-product-wrapper single-product-game">
                                <div class="single-product-img">
                                    <a href="#">
                                        <img alt="" src="assets/img/product/pro-game-17.png">
                                    </a>
                                </div>
                                <div class="product-content">
                                    <span>Cience Fiction Books</span>
                                    <h4>
                                        <a href="product-details.html"> Joy of Pickling 3rd Edition ver 2018</a>
                                    </h4>
                                    <div class="product-price-wrapper">
                                        <span>$260.00</span>
                                    </div>
                                </div>
                            </div>
                            <div class="single-product-wrapper single-product-game">
                                <div class="single-product-img">
                                    <a href="#">
                                        <img alt="" src="assets/img/product/pro-game-18.png">
                                    </a>
                                </div>
                                <div class="product-content">
                                    <span>Cience Fiction Books</span>
                                    <h4>
                                        <a href="product-details.html">Chaz Kangeroo Hoodie3 ver 2018</a>
                                    </h4>
                                    <div class="product-price-wrapper">
                                        <span>$260.00</span>
                                    </div>
                                </div>
                            </div>
                            <div class="single-product-wrapper single-product-game">
                                <div class="single-product-img">
                                    <a href="#">
                                        <img alt="" src="assets/img/product/pro-game-19.png">
                                    </a>
                                </div>
                                <div class="product-content">
                                    <span>Cience Fiction Books</span>
                                    <h4>
                                        <a href="product-details.html">Wayfarer Messenger Bag ver 2018</a>
                                    </h4>
                                    <div class="product-price-wrapper">
                                        <span>$260.00</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="single-product-bundle">
                            <div class="single-product-wrapper single-product-game">
                                <div class="single-product-img">
                                    <a href="#">
                                        <img alt="" src="assets/img/product/pro-game-12.png">
                                    </a>
                                </div>
                                <div class="product-content">
                                    <span>Cience Fiction Books</span>
                                    <h4>
                                        <a href="product-details.html">Wayfarer Messenger Bag ver 2018</a>
                                    </h4>
                                    <div class="product-price-wrapper">
                                        <span>$260.00</span>
                                    </div>
                                </div>
                            </div>
                            <div class="single-product-wrapper single-product-game">
                                <div class="single-product-img">
                                    <a href="#">
                                        <img alt="" src="assets/img/product/pro-game-15.png">
                                    </a>
                                </div>
                                <div class="product-content">
                                    <span>Cience Fiction Books</span>
                                    <h4>
                                        <a href="product-details.html">Chaz Kangeroo Hoodie3 ver 2018</a>
                                    </h4>
                                    <div class="product-price-wrapper">
                                        <span>$260.00</span>
                                    </div>
                                </div>
                            </div>
                            <div class="single-product-wrapper single-product-game">
                                <div class="single-product-img">
                                    <a href="#">
                                        <img alt="" src="assets/img/product/pro-game-16.png">
                                    </a>
                                </div>
                                <div class="product-content">
                                    <span>Cience Fiction Books</span>
                                    <h4>
                                        <a href="product-details.html">The Joy of Pickling 3rd Edition ver 2018</a>
                                    </h4>
                                    <div class="product-price-wrapper">
                                        <span>$260.00</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="single-product-bundle">
                            <div class="single-product-wrapper single-product-game">
                                <div class="single-product-img">
                                    <a href="#">
                                        <img alt="" src="assets/img/product/pro-game-12.png">
                                    </a>
                                </div>
                                <div class="product-content">
                                    <span>Cience Fiction Books</span>
                                    <h4>
                                        <a href="product-details.html">Wayfarer Messenger Bag ver 2018</a>
                                    </h4>
                                    <div class="product-price-wrapper">
                                        <span>$260.00</span>
                                    </div>
                                </div>
                            </div>
                            <div class="single-product-wrapper single-product-game">
                                <div class="single-product-img">
                                    <a href="#">
                                        <img alt="" src="assets/img/product/pro-game-15.png">
                                    </a>
                                </div>
                                <div class="product-content">
                                    <span>Cience Fiction Books</span>
                                    <h4>
                                        <a href="product-details.html">Chaz Kangeroo Hoodie3 ver 2018</a>
                                    </h4>
                                    <div class="product-price-wrapper">
                                        <span>$260.00</span>
                                    </div>
                                </div>
                            </div>
                            <div class="single-product-wrapper single-product-game">
                                <div class="single-product-img">
                                    <a href="#">
                                        <img alt="" src="assets/img/product/pro-game-16.png">
                                    </a>
                                </div>
                                <div class="product-content">
                                    <span>Cience Fiction Books</span>
                                    <h4>
                                        <a href="product-details.html">The Joy of Pickling 3rd Edition ver 2018</a>
                                    </h4>
                                    <div class="product-price-wrapper">
                                        <span>$260.00</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Console Category Area Ends -->
