{% load staticfiles %}
<!-- Bloggins Area Starts -->
<div class="blog-area black-bg-5 pt-60 pb-65 blog-game">
    <div class="container">
        <div class="section-border mb-40">
            <h4 class="section-title white-title section-bg-black">New in our Blogs</h4>
        </div>
        <div class="blog-slider-active-4 owl-carousel nav-style nav-style-game">
            <div class="blog-wrapper-4">
                <div class="blog-img">
                    <a href="#">
                        <img alt="" src="assets/img/blog/blog-1.png">
                    </a>
                </div>
                <div class="blog-content-4">
                    <h4>
                        <a href="#">The Women’s Prize for Fiction Longlist 2018</a>
                    </h4>
                    <p>The first line of lorem Ipsum: "Lorem ipsum dolor sit amet..", comes from a line in section
                        1.10.32.</p>
                    <div class="blog-meta-4">
                        <ul>
                            <li>May.20.2018</li>
                            <li><a href="#">02 Comments</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="blog-wrapper-4">
                <div class="blog-img">
                    <a href="#">
                        <img alt="" src="assets/img/blog/blog-2.png">
                    </a>
                </div>
                <div class="blog-content-4">
                    <h4>
                        <a href="#">The Women’s Prize for Fiction Longlist 2018</a>
                    </h4>
                    <p>The first line of lorem Ipsum: "Lorem ipsum dolor sit amet..", comes from a line in section
                        1.10.32.</p>
                    <div class="blog-meta-4">
                        <ul>
                            <li>May.20.2018</li>
                            <li><a href="#">02 Comments</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="blog-wrapper-4">
                <div class="blog-img">
                    <a href="#">
                        <img alt="" src="assets/img/blog/blog-2.png">
                    </a>
                </div>
                <div class="blog-content-4">
                    <h4>
                        <a href="#">The Women’s Prize for Fiction Longlist 2018</a>
                    </h4>
                    <p>The first line of lorem Ipsum: "Lorem ipsum dolor sit amet..", comes from a line in section
                        1.10.32.</p>
                    <div class="blog-meta-4">
                        <ul>
                            <li>May.20.2018</li>
                            <li><a href="#">02 Comments</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Bloggins Area Ends -->
