{% extends 'shop/base.html' %}
{% load staticfiles %}

{% block title%}<title>Coming Soon.......</title>{% endblock %}
{% block navbar %}
<div class="breadcrumb-area gray-bg-5">
    <div class="container">
        <div class="breadcrumb-content">
            <ul>
                <li><a href="{% url 'shop:homepage' %}">HOME</a></li>
                <li class="active">COMING SOON......</li>
            </ul>
        </div>
    </div>
</div>
<!-- shopping-cart-area start -->
<div class="cart-main-area pt-60 pb-65">
    <h1 class="page-title" align="center">Stay Tuned!, Coming Soon</h1>
</div>
{% include 'shop/static/shop-service-page.html' %}
{% endblock %}
<!-- Nav-bar Area End Here-->