{% extends 'shop/base.html' %}
{% load staticfiles %}
{% block title%}<title>Email Sent</title>{% endblock %}
{% block navbar %}
<meta name="robots" content="noindex">
<link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
<!-- shopping-cart-area start -->
<div class="cart-main-area pt-60 pb-65">
    <div class="container">
        <h3 class="section-title-about" align="center" style="margin-bottom:20px;"> Email Sent </h3>
        <div class="overview-content-2">
            <p class="peragraph-blog">We've emailed you instructions for setting your password, if an account exists with the email you entered.
    You should receive them shortly.</p>
            <p class="peragraph-blog">If you don't receive an email, please make sure you've entered the address you registered with,
    and check your spam folder.</p>
            <p class="peragraph-blog">If you have any query, feel free to get in touch with us at hunt@gamehunter.in or
                <i class="em em-iphone"></i> us on 9873327995 (Mon-Sat 10AM-7PM India Time) for further queries.</p>
            <p style="margin: 20px; font-size: 20px;">Team Gamehunter <i class="em em-blush"></i></p>
            <img src="{% static 'img/logo/logo.png' %}" alt="" style="padding-bottom: 20px; margin-top:10px;">
        </div>
    </div>
     {% include 'shop/include/shop-service-page.html' %}
    {% endblock %}
    <!-- Nav-bar Area End Here-->