{% extends 'shop/base.html' %}
{% load staticfiles %}
{% block navbar %}
{% block title%}<title>Password Changed Successfully!</title>{% endblock %}
<meta name="robots" content="noindex">
<link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
<!-- shopping-cart-area start -->
<div class="cart-main-area pt-60 pb-65">
    <div class="container">
        <h3 class="section-title-about" align="center" style="margin-bottom:20px;"> Password Changed! </h3>
        <div class="overview-content-2">
            <p class="peragraph-blog" align="center">Your password has been reset successfully!, Please login to your
                account</p>
            <div class="overview-btn mt-45" align="center" style="margin:20px;">
                <a class="btn-style-2" href="{% url 'shop:login' %}">Login</a>
            </div>
        </div>
    </div>
</div>
    {% include 'shop/include/shop-service-page.html' %}
    {% endblock %}
    <!-- Nav-bar Area End Here-->