{% extends 'shop/base.html' %}
{% load staticfiles %}

{% block title%}<title>Thank You for Placing Order with us</title>{% endblock %}
{% block navbar %}
<link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
<!-- shopping-cart-area start -->
<div class="cart-main-area pt-60 pb-65 black-bg-5 ">
    <div class="container">
        <h3 class="section-title-about" align="center"> Thank You </h3>
        <h3 class="section-title-about">Transaction Successful! <i class="em em-clap"></i></h3>
        <div class="overview-content-2">
            <p>Dear {{ cart.user.get_full_name }},</p>
            <p>Thank you for your order on Gamehunter.in! Your order has been received and will be processed shortly.
                Please keep a note of your transaction ID: <span class="order-complete">{{ cart.cart_id }}</span>.
                Please quote this transaction ID for all further
                communication.</p>
            <p>You can manage and track your order from the 'My Order' at bottom of the website.</p>
            <p>You will shortly receive an e-mail & sms on {{ cart.user.email }}, {{ cart.address.phone_number }} with
                further details.</p>
            <p>If you have any query concerning your order, feel free to get in touch with us at hunt@gamehunter.in or
                <i class="em em-iphone"></i> us on 9873327995 (Mon-Sat 10AM-7PM India Time) for further queries.</p>
            <p>Team Gamehunter <i class="em em-blush"></i></p>
        </div>
    </div>
    <div class="brand-logo-area black-bg-5">
        <div class="container">
            <div class="brand-logo-active owl-carousel border-top-2 ptb-60">
                <div class="single-brand-logo">
                    <img alt="" src="{% static 'img/brand-logo/brand-logo-1.png' %}">
                </div>
                <div class="single-brand-logo">
                    <img alt="" src="assets/img/brand-logo/brand-logo-2.png">
                </div>
                <div class="single-brand-logo">
                    <img alt="" src="assets/img/brand-logo/brand-logo-3.png">
                </div>
                <div class="single-brand-logo">
                    <img alt="" src="assets/img/brand-logo/brand-logo-4.png">
                </div>
                <div class="single-brand-logo">
                    <img alt="" src="assets/img/brand-logo/brand-logo-5.png">
                </div>
                <div class="single-brand-logo">
                    <img alt="" src="assets/img/brand-logo/brand-logo-2.png">
                </div>
            </div>
        </div>
    </div>
    {% include 'shop/include/shop-service-page.html' %}
    {% endblock %}
    <!-- Nav-bar Area End Here-->