{% extends 'shop/base.html' %}
{% load staticfiles %}

{% block title%}<title>Oops! Transaction Unsuccessful </title>{% endblock %}
{% block navbar %}
<link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
<!-- shopping-cart-area start -->
<div class="cart-main-area pt-60 pb-65 black-bg-5 ">
    <div class="container">
        <h3 class="section-title-about" align="center"> Oops! </h3>
        <h3 class="section-title-about">Transaction Unsuccessful! <i class="em em-anguished"></i></i></h3>
        <div class="overview-content-2">
            <p>Dear {{ cart.user.get_full_name }},</p>
            <p>We regret that the transaction you made against Order Number: {{ cart.cart_id }} has been declined. We
                request you to please continue with payment to complete the order.</p>
            <p>Note: In case the money has been deducted from your bank account, please be assured that the refund will
                be processed within 48 -72 working hours (via payment reversal).</p>
            <p>Once your purchase gets complete, you will receive a valid transaction ID for further communication.</p>
            <p>You can manage and track your order from the 'My Order' at bottom of the website.</p>
            <p>If you have any query concerning your order, feel free to get in touch with us at hunt@gamehunter.in or
                <i class="em em-iphone"></i> us on 9873327995 (Mon-Sat 10AM-7PM India Time) for further queries.</p>
            <p>Team Gamehunter <i class="em em-blush"></i></p>
        </div>
    </div>
    <div class="brand-logo-area black-bg-5">
        <div class="container">
            <div class="brand-logo-active owl-carousel border-top-2 ptb-60">
                <div class="single-brand-logo">
                    <img alt="" src="{% static 'img/brand-logo/brand-logo-1.png' %}">
                </div>
                <div class="single-brand-logo">
                    <img alt="" src="assets/img/brand-logo/brand-logo-2.png">
                </div>
                <div class="single-brand-logo">
                    <img alt="" src="assets/img/brand-logo/brand-logo-3.png">
                </div>
                <div class="single-brand-logo">
                    <img alt="" src="assets/img/brand-logo/brand-logo-4.png">
                </div>
                <div class="single-brand-logo">
                    <img alt="" src="assets/img/brand-logo/brand-logo-5.png">
                </div>
                <div class="single-brand-logo">
                    <img alt="" src="assets/img/brand-logo/brand-logo-2.png">
                </div>
            </div>
        </div>
    </div>
    {% include 'shop/include/shop-service-page.html' %}
    {% endblock %}
    <!-- Nav-bar Area End Here-->