{% extends 'shop/base.html' %}
{% load staticfiles %}
{% load thumbnail %}
{% load mytags %}

<!-- Site Title -->
{% block title%}
<title>Rent | Buy | Sell {{ filter_categories.last.name }} Games Online at GameHunter
</title>
{% endblock %}
{% block navbar %}
{% if filter_categories %}
<div class="breadcrumb-area gray-bg-5">
    <div class="container">
        <div class="breadcrumb-content">
            <ul>
                <li><a href="{% url 'shop:homepage' %}">HOME </a></li>
                {% for category in filter_categories.get_parent_with_self %}
                {% if category == filter_categories.get_parent_with_self.last %}
                <li class="active">{{ category.name|upper }}</li>
                {% else %}
                <li><a href="{% url 'shop:product-list' category.slug %}">{{ category.name|upper }}</a></li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endif %}
<div class="shop-page-area pt-30 pb-65">
    <form method="GET" id="filter_form">
            {% if request.GET.rent %}
                <input type="hidden" name="rent" value="available" />
            {% endif %}
            {% if request.GET.keywords %}
                <input type="hidden" name="keywords" value="{{ request.GET.keywords }}" />
            {% endif %}
    <div class="container">
        {% if products %}
        <div class="row">
            <div class="col-lg-3">
                <div class="shop-sidebar-wrapper gray-bg-7 mrg-top-md mrg-top-sm">
                    {% if filter_categories %}
                    <div class="shop-widget">
                        <h4 class="shop-sidebar-title">Shop By Categories</h4>
                        <div class="shop-catigory">
                            <ul id="faq">
                                {% if filter_categories.get_children %}
                                {% for categories in filter_categories.get_children %}
                                {% if categories.get_children %}
                                <li><a data-toggle="collapse" data-parent="#faq" href="#{{ categories.id }}">
                                        {{ categories }}<i class="ion-ios-arrow-down"></i></a>
                                    <ul id="{{ categories.id }}" class="panel-collapse collapse show">
                                        {% for category in categories.get_children %}
                                        <li><a href="{% url 'shop:product-list' category.slug %}?{{ request.GET.urlencode }}">{{ category }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </li>
                                {% else %}
                                <li><a href="{% url 'shop:product-list' categories.slug %}?{{ request.GET.urlencode }}">{{ categories }}</a></li>
                                {% endif %}
                                {% endfor %}
                                {% else %}
                                <li><a href="{% url 'shop:product-list' filter_categories.slug %}?{{ request.GET.urlencode }}">{{ filter_categories }}</a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                    {% endif %}
                    <!-- <div class="shop-price-filter mt-40 shop-sidebar-border pt-35">
                        <h4 class="shop-sidebar-title">Price Filter</h4>
                        <div class="price_filter mt-25">
                            <span>Range: $100.00 - 1.300.00 </span>
                            <div id="slider-range"></div>
                            <div class="price_slider_amount">
                                <div class="label-input">
                                    <input type="text" id="amount" name="price" placeholder="Add Your Price" /></div>
                                <button type="button">Filter</button>
                            </div>
                        </div>
                    </div> -->
                    {% if products_form.developer %}
                    <div class="shop-widget mt-40 shop-sidebar-border pt-35">
                        <h4 class="shop-sidebar-title">
                            Developer</h4>
                        <div class="sidebar-list-style mt-20">
                            <ul>
                                <li onclick="document.forms['filter_form'].submit();">{{ products_form.developer }}</li>
                            </ul>
                        </div>
                    </div>
                    {% endif %}
                    {% if products_form.publisher %}
                    <div class="shop-widget mt-40 shop-sidebar-border pt-35">
                        <h4 class="shop-sidebar-title">
                            Publisher</h4>
                        <div class="sidebar-list-style mt-20">
                            <ul>
                                <li onclick="document.forms['filter_form'].submit();">{{ products_form.publisher }}</li>
                            </ul>
                        </div>
                    </div>
                    {% endif %}
                    {% if products_form.publisher %}
                    <div class="shop-widget mt-40 shop-sidebar-border pt-35">
                        <h4 class="shop-sidebar-title">Genre</h4>
                        <div class="sidebar-list-style mt-20">
                            <ul>
                                <li onclick="document.forms['filter_form'].submit();">{{ products_form.genre }}</li>
                            </ul>
                        </div>
                    </div>
                    {% endif %}
                    <!--<div class="shop-widget mt-40 shop-sidebar-border pt-35"><h4 class="shop-sidebar-title">By-->
                    <!--Launch Year</h4>-->
                    <!--<div class="sidebar-list-style mt-20">-->
                    <!--<ul>-->
                    <!--<li><input type="checkbox"><a href="#">Black </a></li>-->
                    <!--<li><input type="checkbox"><a href="#">Blue </a></li>-->
                    <!--<li><input type="checkbox"><a href="#">Green </a></li>-->
                    <!--<li><input type="checkbox"><a href="#">Grey </a></li>-->
                    <!--<li><input type="checkbox"><a href="#">Red</a></li>-->
                    <!--<li><input type="checkbox"><a href="#">White </a></li>-->
                    <!--<li><input type="checkbox"><a href="#">Yellow </a></li>-->
                    <!--</ul>-->
                    <!--</div>-->
                    <!--</div>-->
                </div>
            </div>
            <div class="col-lg-9">
                <!--<div class="banner-area pb-30 mrg-top-md mrg-top-sm">-->
                <!--<a href="#"><img alt="" src="{% static 'img/banner/banner-49.jpg' %}"></a>-->
                <!--</div>-->
                <div class="shop-topbar-wrapper">
                    <div class="shop-topbar-left">
                        
                        {% include 'shop/include/upper_paginator.html' %}
                        <div class="product-sorting-wrapper">
                            <!--<div class="product-shorting shorting-style"><label>View:</label><select>-->
                            <!--<option value=""> 20</option>-->
                            <!--<option value=""> 23</option>-->
                            <!--<option value=""> 30</option>-->
                            <!--</select>-->
                            <!--</div>-->
                            <div class="product-show shorting-style">
                                <li style="list-style: none" onchange="document.forms['filter_form'].submit();">{{ products_form.sort_by }}</li>
                            </div>
                        </div>
                    </div>
                    <div class="tab-content jump">
                        <div class="tab-pane active pb-20" id="product-grid">
                            <div class="row">
                                {% for product in products %}
                                    {% if request.GET.rent %}
                                        {% include 'shop/product_list/product_list_rent.html' %}
                                    {% else %}
                                        {% include 'shop/product_list/product_list_buy.html' %}
                                    {% endif %}
                                {% endfor %}
                            </div>
                            {% include 'shop/include/lower_paginator.html' %}                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
        {% else %}
        <h3 class="page-title" align="center">Oops!, No products found. to continue shopping <a
                href="{% url 'shop:homepage' %}">Click
            here </a></h3>
        {% endif %}
    </div>
</div>
    {% include 'shop/include/shop-service-page.html' %}
    {% endblock %}
    <!-- Nav-bar Area End Here-->

    <!-- Coverpage Area Starts Here-->
    {% block coverpage %}
    {% endblock %}
    <!-- Coverpage Area End Here-->

