<div class="my-alert alert-orange">
    <div class="Message-icon">
        <i class="fa fa-exclamation" style="font-size:36px"></i>
    </div>
    <div class="Message-body">
        <p>To rent a game for Rs 300 or 500, you will have to buy a plan of rupee 2000.</p>
    </div>
</div>
{% if product.item_status == 'I' or product.item_status == 'S' %}
<p>{{ product.description|truncatechars:300|safe }}</p>
<!--<div class="pro-dec-feature">-->
<!--<ul>-->
<!--<li><input type="checkbox"> Protection Plan: <span> 2 year  $4.99</span></li>-->
<!--<li><input type="checkbox"> Remote Holder: <span> $9.99</span></li>-->
<!--<li><input type="checkbox"> Koral Alexa Voice Remote Case: <span> Red  $16.99</span></li>-->
<!--<li><input type="checkbox"> Amazon Basics HD Antenna: <span>25 Mile  $14.99</span></li>-->
<!--</ul>-->
<!--</div>-->
{% endif %}
<div class="quality-add-to-cart">
    <!--<div class="quality">-->
    <!--<label>Qty:</label>-->
    <!--<input class="cart-plus-minus-box" type="text" name="qtybutton" value="02">-->
    <!--</div>-->
    {% if product in cart.products.all or product in cart.pay_game_products.all %}
    <div class="product-action">
        <a class="action-cart" title="Go To Cart" href="{% url 'carts:cart' %}">Go
            to Cart</a>
    </div>
    {% elif product.get_pay_per_game_subscription_price %}
    <div class="product-action">
        <!--<div class="quality">-->
        <!--<label>Qty:</label>-->
        <!--<input class="cart-plus-minus-box" type="text" name="qtybutton" value="02">-->
        <!--</div>-->
        <a id="add-to-cart" class="action-cart"
            title="Get This Game on Subscription at rupee {{ product.get_pay_per_game_subscription_price.value }} Only"
            href="{% url 'carts:pay-per-game-product' product.slug %}">Get @
            ₹{{ product.get_pay_per_game_subscription_price.value }} Only</a>
    </div>
    {% elif product.item_status == 'S' %}
    <div class="product-action">
        <a class="action-cart" title="Buy Subscription" href="{% url 'shop:subscription-list' %}">Buy
            Subscription</a>
    </div>
    {% endif %}
</div>