{% load staticfiles %}
{% url 'carts:cart' as cart_url %}

<!doctype html>
<html class="no-js" lang="zxx">
<!-- header start -->
<head>
    <!-- jQuery CDN by Google -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
    {% if not DEBUG %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-132433608-1"></script>
    <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-132433608-1');

    </script>
<!-- Global site tag (gtag.js) - Google Analytics Code Ends Here-->
    {% endif %}

    <meta charset="utf-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="robots" content="index,follow"/>
    <!-- Site Title -->
    {% block title%}
    {% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.png' %}">
    <!-- all css here -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/animate.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/slick.css' %}">
    <link rel="stylesheet" href="{% static 'css/chosen.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/ionicons.min.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/pe-icon-7-stroke.css' %}">
    <link rel="stylesheet" href="{% static 'css/meanmenu.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
    <script src="{% static 'js/vendor/modernizr-2.8.3.min.js' %}"></script>

</head>
<body>
<header class="header-area bg-img" style='background-image: url({% static "img/bg/bg-14.jpg" %}' );>
    {% if not DEBUG %}
<!-- Facebook Pixel Code -->
    <script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window,document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
 fbq('init', '318214158839092');
fbq('track', 'PageView');

    </script>
    <noscript>
        <img height="1" width="1"
             src="https://www.facebook.com/tr?id=318214158839092&ev=PageView
&noscript=1"/>
    </noscript>
    <!-- End Facebook Pixel Code -->
    {% endif %}
    <div class="header-top pt-10 pb-13 border-bottom-4 header-top-red">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="header-top-left">
                        {% if user.is_authenticated %}
                        <div class="language-currency lang-curr-border-4">
                            <div class="lang-curr-dropdown">
                                <ul>
                                    <li><a class="language-click" href="#">Hi, {% if user.first_name %}
                                        {{ user.first_name }} {{ user.last_name }} {% else %} Hunter {% endif %}<i
                                                class="ion-chevron-down"></i></a>
                                        <ul class="language-dropdown">
                                            <li><a href="{% url 'shop:my-account' %}">My Account </a></li>
                                            <li><a href="{% url 'shop:orders' %}">My Orders </a></li>
                                            <li><a href="#">Subscriptions </a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        {% endif %}
                        <div class="language-currency lang-curr-border-4">
                            <span>Country:</span>
                            <div class="lang-curr-dropdown">
                                <ul>
                                    <li><a class="language-click" href="#">India </a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="language-currency lang-curr-mrg">
                            <span>Currency: </span>
                            <div class="lang-curr-dropdown">
                                <ul>
                                    <li><a class="language-click" href="#">INR</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="header-top-right">
                        <ul>
                            {% if user.is_authenticated %}
                            <li>
                                <a href="{% url 'shop:orders' %}">My Orders</a>
                            </li>
                            <li>
                                <a href="{% url 'shop:sell-games' %}">Sell Your Games</a>
                            </li>
                            <li>
                                <a href="{% url 'shop:logout' %}">Logout</a>
                            </li>
                            {% else %}
                            <li>
                                <a href="{% url 'shop:login' %}">Register or Login </a>
                            </li>
                            <li>
                                <a href="{% url 'shop:sell-games' %}">Sell Your Games</a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-middle ptb-37">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-12">
                    <div class="logo logo-mrg">
                        <a href="{% url 'shop:homepage' %}">
                            <img src="{% static 'img/logo/logo.png' %}" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-lg-9 col-md-12 col-12">
                    <div class="header-contact-search-wrapper f-right">
                        <a href="https://web.whatsapp.com/send?phone=919873327995&text=I%20am%20interested,%20please%20send%20details!"
                           target="_blank">
                            <div class="header-contact middle-same">
                                <div class="header-contact-icon">
                                    <!--<i class="pe-7s-headphones"></i>-->

                                    <img src="{% static 'img/logo/whatsapp.svg' %}" alt="" width="35px"
                                         height="35px">
                                </div>
                                <div class="header-contact-content">
                                    <p>Whatsapp us<br>Free Support: (098) 733 27 995</p>
                                </div>
                            </div>
                        </a>
                        <div class="header-search-4 middle-same header-search-4-red">
                            <form class="header-search-form" action="{% url 'shop:search' %}" method="GET">
                                <input name="keywords" type="text" placeholder="Search for products here ..." required >
                                <button>
                                    <i class="ion-ios-search-strong"></i>
                                </button>
                            </form>
                        </div>
                        <div class="header-cart middle-same construction-cart game-cart">
                            <a href="{{ cart_url }}">
                                <button class="icon-cart">
                                    <i class="ion-ios-cart cart-bag"></i>
                                    {% if request.session.cart_total %}
                                    <span class="count-amount">₹ {{ request.session.cart_total }}</span>
                                    {% else %}
                                    <span class="count-amount">₹ 0</span>
                                    {% endif %}
                                    <i class="ion-chevron-down cart-down"></i>
                                    {% if request.session.cart_items %}
                                    <span class="count-style">{{ request.session.cart_items }}</span>
                                    {% endif %}
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-bottom header-bottom-color-4 theme-bg-3">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="logo mobile-logo">
                        <a href="{% url 'shop:homepage' %}">
                            <img alt="" src="{% static 'img/logo/logo.png' %}">
                        </a>
                    </div>
                </div>
                <div class="col-12">
                    <div class="mobile-menu-area">
                        <div class="mobile-menu">
                            <nav id="mobile-menu-active">
                                <ul class="menu-overflow">
                                    <li><a href="#">Playstation Games</a>
                                        <ul>
                                            <li><a href="/products/playstation-games/ps-4">Playstation 4</a></li>
                                            <!--<li><a href="#"> Playstation 3</a></li>-->
                                        </ul>
                                    </li>
                                    <li><a href="#">Xbox Games</a>
                                        <ul>
                                            <li><a href="/products/xbox-games/xbox-one">Xbox One</a></li>
                                            <!--<li><a href="#"> Xbox 360 </a></li>-->
                                        </ul>
                                    </li>
                                    <li><a href="{% url 'shop:coming-soon' %}">Consoles</a>
                                        <ul>
                                            <li><a href="#"> Playstation </a></li>
                                            <li><a href="#"> Xbox </a></li>
                                            <li><a href="#">Nintendo</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="{% url 'shop:subscription-list' %}"><b><u>Subscriptions</u></b></a></li>
                                    <li><a href="{% url 'shop:coming-soon' %}"> Collective/Accessories </a></li>
                                    <li><a href="{% url 'shop:coming-soon' %}"> Community </a></li>
                                    <li><a href="{% url 'shop:articles' %}"> Gaming Charcha </a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-menu main-none">
                <nav>
                    <ul>
                        <li><a href="#">Playstation Games<i class="ion-chevron-down"></i></a>
                            <ul class="submenu">
                                <!--<li><a href="#">Playstation 3</a></li>-->
                                <li><a href="/products/playstation-games/ps-4">Playstation 4</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Xbox Games<i class="ion-chevron-down"></i></a>
                            <ul class="submenu">
                                <!--<li><a href="#">Xbox 360</a></li>-->
                                <li><a href="/products/xbox-games/xbox-one">Xbox One</a></li>
                            </ul>
                        </li>
                        <li><a href="{% url 'shop:coming-soon' %}">consoles<i class="ion-chevron-down"></i></a>
                            <ul class="submenu">
                                <li><a href="#">Playstation</a></li>
                                <li><a href="#">Xbox</a></li>
                                <li><a href="#">Nintendo</a></li>
                            </ul>
                        </li>
                        <li><a href="{% url 'shop:subscription-list' %}"><b><u>Subscriptions</u></b></a></li>
                        <li><a href="{% url 'shop:coming-soon' %}">collectives/accessories</a></li>
                        <li><a href="{% url 'shop:coming-soon' %}">community</a></li>
                        <li><a href="{% url 'shop:articles' %}">gaming charcha</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- Header Area End -->
{% block navbar %}
{% endblock %}
<!-- Nav-bar Area End Here-->

<!-- Coverpage Area Starts Here-->
{% block coverpage %}
{% endblock %}
<!-- Coverpage Area End Here-->

<!-- Featured Product Area Starts Here-->
{% block featuredproducts %}
{% endblock %}
<!-- Featured Product Area Ends Here-->

<!-- Banner-1 Area Starts Here-->
{% block banner1 %}
{% endblock %}
<!-- Banner-1 Area Ends Here-->

<!-- Homepage-Console-Category Area Starts Here-->
{% block consolecategory %}
{% endblock %}
<!-- Homepage-Console-Category Area Ends Here-->

<!-- Banner-2 Area Starts Here-->
{% block banner2 %}
{% endblock %}
<!-- Banner-2 Area Ends Here-->

<!-- Homepage-Blogs Area Starts Here-->
{% block blogging %}
{% endblock %}
<!-- Homepage-Blogs Area Ends Here-->

<!-- Footer Area Starts -->
<footer class="footer-area pt-60 bg-img" style='background-image: url({% static "img/bg/bg-15.jpg" %}' );>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="footer-widget mb-40">
                    <div class="footer-title mb-30">
                        <h4>About Us</h4>
                    </div>
                    <div class="footer-about">
                        <p>We had a vision and the vision is to create something a gamer can relate too. Gamehunter’s
                            entire website is dedicated to gaming.</p>
                        <p>Gamer wants to play as many as games as they can; however, gaming is India is way too
                            expensive. They always say “Gaming is not a crime but too expensive”, and that’s really a
                            true thing.</p>
                        <p>GameHunter help gamer to create way to play unlimited games. A subscription package allows
                            access to user to play hundreds of games displayed on website library.</p>
                        <!--<div class="footer-contact mt-20">-->
                            <!--<ul>-->
                                <!--<li>Email: <a href="mailto:hunt@gamehunter.in">hunt@gamehunter.in</a></li>-->
                            <!--</ul>-->
                        <!--</div>-->
                    </div>
                    <div class="social-icon mr-40">
                        <ul>
                            <li><a class="facebook" target="_blank" href="https://www.facebook.com/gamehunter.in/"><i
                                    class="ion-social-facebook"></i></a></li>
                            <!--<li><a class="twitter" href="#"><i class="ion-social-twitter"></i></a></li>-->
                            <!--<li><a class="instagram" href="#"><i class="ion-social-instagram-outline"></i></a></li>-->
                            <!--<li><a class="youtube" href="#"><i class="ion-social-youtube-outline"></i></a></li>-->
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-6">
                <div class="footer-widget mb-40">
                    <div class="footer-title mb-30">
                        <h4>Information</h4>
                    </div>
                    <div class="footer-content">
                        <ul>
                            <li><a href="{% url 'shop:about-us' %}">About Us</a></li>
                            <li><a href="{% url 'shop:shipping' %}">Shipping Information</a></li>
                            <li><a href="{% url 'shop:term-condition' %}">Terms & Conditions</a></li>
                            <li><a href="{% url 'shop:privacy-policy' %}">Privacy Policy</a></li>
                            <li><a href="{% url 'shop:return-cancellation' %}">Cancellation & Return Policy</a></li>
                            <li><a href="{% url 'shop:contact-us' %}">Contact us</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-6">
                <div class="footer-widget mb-40">
                    <div class="footer-title mb-30">
                        <h4>My Account</h4>
                    </div>
                    <div class="footer-content">
                        <ul>
                            <li><a href="{% url 'shop:my-account' %}">My Account</a></li>
                            <li><a href="{% url 'shop:orders' %}">My Orders</a></li>
                            <li><a href="#">My Subscriptions</a></li>
                            <li><a href="{% url 'shop:faq' %}">Faqs</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="footer-widget mb-40">
                    <div class="footer-title mb-30">
                        <h4>Contact us</h4>
                    </div>
                    <div class="footer-contact">
                        <ul>
                            <li>Address: Vikas Puri, New Delhi, 110018 - India.</li>
                            <li>Phone Enquiry: (+91) 987 332 7995</li>
                            <li>Email: <a href="#">hunt@gamehunter.in</a></li>
                        </ul>
                    </div>
                    <div class="opening-time">
                        <h4>Opening Time</h4>
                        <div class="opening-content">
                            <ul>
                                <li>Open: <span>8:00 AM</span> - Close: <span>11:59 PM</span></li>
                                <li>Sunday: Close</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="pt-60 pb-65 border-top-8">
            <div class="row">
                <div class="col-12">
                    <div class="footer-middle text-center">
                        <div class="footer-tag">
                            <ul>
                                <li><a href="#">New Arrival </a></li>
                                <li><a href="{% url 'shop:coming-soon' %}">Console </a></li>
                                <li><a href="#">Accessories </a></li>
                                <li><a href="{% url 'shop:subscription-list' %}">Plans </a></li>
                                <li><a href="/products/playstation-games/ps-4">PS 4 Games </a></li>
                                <!--<li><a href="#">PS 3 Games </a></li>-->
                                <li><a href="/products/xbox-games/xbox-one">Xbox One Games </a></li>
                                <!--<li><a href="#">Xbox 360 Games </a></li>-->
                                <li><a href="{% url 'shop:articles' %}">Gaming Charcha </a></li>
                                <li><a href="{% url 'shop:shipping' %}">Shipping </a></li>
                                <li><a href="{% url 'shop:return-cancellation' %}">Cancellation & Return </a></li>
                                <li><a href="{% url 'shop:term-condition' %}">Terms & Conditions </a></li>
                                <li><a href="{% url 'shop:faq' %}">FAQs </a></li>
                                <li><a href="{% url 'shop:about-us' %}">About us </a></li>
                                <li><a href="{% url 'shop:contact-us' %}">Career </a></li>
                            </ul>
                        </div>
                        <div class="payment-icon mt-20">
                            <img src="{% static 'img/icon-img/payment.png' %}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom pb-25 pt-25 border-top-8 game-footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="copyright text-center copyright-white">
                        <p>Copyright © 2019 <a href="{% url 'shop:homepage' %}">Gamehunter.in</a>. All Right Reserved. -- Beta
                            Version</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- all js here -->
<script src="{% static 'js/vendor/jquery-1.12.0.min.js' %}"></script>
<script src="{% static 'js/popper.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/ajax-mail.js' %}"></script>
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/plugins.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>

{% if not DEBUG %}
<!-- Start of Async Drift Code -->
<script>
"use strict";

!function() {
  var t = window.driftt = window.drift = window.driftt || [];
  if (!t.init) {
    if (t.invoked) return void (window.console && console.error && console.error("Drift snippet included twice."));
    t.invoked = !0, t.methods = [ "identify", "config", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on" ],
    t.factory = function(e) {
      return function() {
        var n = Array.prototype.slice.call(arguments);
        return n.unshift(e), t.push(n), t;
      };
    }, t.methods.forEach(function(e) {
      t[e] = t.factory(e);
    }), t.load = function(t) {
      var e = 3e5, n = Math.ceil(new Date() / e) * e, o = document.createElement("script");
      o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + n + "/" + t + ".js";
      var i = document.getElementsByTagName("script")[0];
      i.parentNode.insertBefore(o, i);
    };
  }
}();
drift.SNIPPET_VERSION = '0.3.1';
drift.load('cfhx59rz66hr');
</script>
<!-- End of Async Drift Code -->
{% endif %}
</body>

</html>

{% block footer %}
{% endblock %}
<!-- Footer Area Ends -->