{% extends 'shop/base.html' %}
{% load staticfiles %}
{% load thumbnail %}
<!-- Site Title -->
{% block title%}<title>{{ article|title }}</title>{% endblock %}

{% block navbar %}
<meta name="title" content="{{ article.get_blog_title_name|striptags }}">
<meta name="description" content="{{ article.get_blog_description|striptags }}">
<div class="breadcrumb-area gray-bg-5">
    <div class="container">
        <div class="breadcrumb-content">
            <ul>
                <li><a href="{% url 'shop:homepage' %}">HOME</a></li>
                <li><a href="{% url 'shop:articles' %}">BLOG</a></li>
                <li class="active">{{ article|upper }}</li>
            </ul>
        </div>
    </div>
</div>
<div class="blog-area pt-65 pb-65">
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-lg-4">
                <div class="shop-sidebar-wrapper gray-bg-7">
                    <!--<div class="shop-widget mb-35">-->
                    <!--<div class="header-search-2">-->
                    <!--<form class="header-search-form" action="#">-->
                    <!--<input type="text" placeholder="Search">-->
                    <!--<button>-->
                    <!--<i class="ion-ios-search-strong"></i>-->
                    <!--</button>-->
                    <!--</form>-->
                    <!--</div>-->
                    <!--</div>-->
                    {% if article.product.all %}
                    <div class="shop-widget mt-40 pt-35 shop-sidebar-border">
                        <h4 class="shop-sidebar-title">Related Product</h4>
                        <div class="recent-post-wrapper mt-20">
                            {% for product in article.product.all|slice:":5" %}
                            <div class="single-recent-post mb-20">
                                <div class="recent-post-img">
                                    <a href="{{ product.get_absolute_url }}">
                                    {% thumbnail product.get_default_photo.file "100x100" crop="center" as im %}
                                    <img src="{{ im.url }}" height="{{ im.height }}" width="{{ im.width }}">
                                    {% endthumbnail %}
                                    </a>
                                </div>
                                <div class="product-content">
                                    <h4>
                                        <a href="{{ product.get_absolute_url }}">{{ product.get_product_title_name}}</a>
                                    </h4>
                                    <span><b>For {{ product.category.name|upper }}</b></span>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    {% endif %}
                    <div class="shop-widget mt-40 pt-35 shop-sidebar-border">
                        <h4 class="shop-sidebar-title">Recent Post</h4>
                        <div class="recent-post-wrapper mt-20">
                            {% for article in recent_articles|slice:":5" %}
                            <div class="single-recent-post mb-20">
                                <div class="recent-post-img">
                                    <a href="{{ article.get_absolute_url }}">
                                        {% thumbnail article.card_image "100x60" crop="center" as im %}
                                        <img src="{{ im.url }}" height="{{ im.height }}" width="{{ im.width }}">
                                        {% endthumbnail %}
                                    </a>
                                </div>
                                <div class="product-content">
                                    <h4>
                                        <a href="{{ article.get_absolute_url }}">{{ article.get_blog_title_name }}</a>
                                    </h4>
                                    <span>{{ article.date_created }}</span>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-9 col-lg-8">
                <div class="blog-details-wrapper">
                    <div class="single-blog-wrapper">
                        <div class="blog-img mb-30">
                        {% thumbnail article.cover_image "870x470" crop="center" quality=70 as im %}
                        <img src="{{ im.url }}" height="{{ im.height }}" width="{{ im.width }}">
                        {% endthumbnail %}
                        </div>
                        <div class="blog-details-content">
                            <h2>{{ article.title }}</h2>
                            <div class="blog-meta mb-20">
                                <ul>
                                    <li>{{ article.date_created }}</li>
                                    <!--<li>-->
                                    <!--<a href="#"> 02 Comments</a>-->
                                    <!--</li>-->
                                </ul>
                            </div>
                        </div>
                        {{ article.description|safe }}
                        <!--<div class="dec-img-wrapper">-->
                        <!--<div class="row">-->

                        <!--<div class="col-md-6">-->
                        <!--<div class="dec-img">-->
                        <!--<img src="{% static 'img/blog/blog-dec-img1.jpg' %}" alt="">-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--<div class="col-md-6">-->
                        <!--<div class="dec-img dec-mrg res-mrg-top-2">-->
                        <!--<img src="{% static 'img/blog/blog-dec-img2.jpg' %}" alt="">-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--</div>-->
                        <div class="blog-dec-tags-social">
                            <div class="blog-dec-tags">
                                <!--<ul>-->
                                <!--<li><a href="#">Fashion</a></li>-->
                                <!--<li><a href="#">Furniture</a></li>-->
                                <!--<li><a href="#">Sports</a></li>-->
                                <!--</ul>-->
                            </div>
                            <div class="blog-dec-social">
                                <span>Share :</span>
                                <ul>
                                    <div class="a2a_kit a2a_kit_size_32 a2a_default_style">
                                        <a class="a2a_button_facebook"></a>
                                        <a class="a2a_button_twitter"></a>
                                        <a class="a2a_button_whatsapp"></a>
                                    </div>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="brand-logo-area black-bg-5">
</div>
{% include 'shop/include/shop-service-page.html' %}
<!-- AddToAny START  -->
<script>
var a2a_config = a2a_config || {};
a2a_config.onclick = 1;
a2a_config.num_services = 4;
</script>
<script async src="https://static.addtoany.com/menu/page.js"></script>
<!-- AddToAny END -->
{% endblock %}
<!-- Nav-bar Area End Here-->

