{% extends 'shop/base.html' %}
{% load staticfiles %}

<!-- Site Title -->
{% block title%}<title>Contact us | Gamehunter.in </title>{% endblock %}

{% block navbar %}
<meta name="description" content="We care for Gamers. For any query, please reach us at hunt@gamehunter.in OR Whatsapp us at +91 – 9873327995. You can visit our website : www.gamehunter.in to live chat option.">
<div class="breadcrumb-area black-bg-4">
    <div class="container">
        <div class="breadcrumb-content">
            <ul>
                <li><a href="{% url 'shop:homepage' %}">HOME</a></li>
                <li class="active"> CONTACT US</li>
            </ul>
        </div>
    </div>
</div>
<div class="contact-us pt-60 pb-50 black-bg-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="contact-page-title mb-40">
                    <h1>
                        Hi, Hunter
                        <br>
                        Let's Connect,
                    </h1>
                </div>
            </div>
        </div>
        <div class="row black-bg-5">
            <div class="col-lg-4">
                <ul class="contact-tab-list nav">
                    <li><a href="#contact-address" data-toggle="tab">Meet us</a></li>
                    <!--<li><a href="#contact-form-tab" data-toggle="tab">Leave us a message</a></li>-->
                    <!--<li><a class="active" href="#store-location" data-toggle="tab">Our location</a></li>-->
                </ul>
            </div>
            <div class="col-lg-8">
                <div class="tab-content tab-content-contact">
                    <div id="contact-address" class="tab-pane fade row d-flex">
                        <div class="col-lg-4 col-md-4">
                            <div class="contact-information">
                                <h4>Address</h4>
                                <p>Vikas Puri, New Delhi, India</p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div class="contact-information mrg-top-sm">
                                <h4>Phone</h4>
                                <p>
                                    <a target="_blank" href="https://web.whatsapp.com/send?phone=919873327995&text=I%20am%20interested,%20please%20send%20details!">+91-9873327995</a>
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div class="contact-information mrg-top-sm">
                                <h4>Email us</h4>
                                <p>
                                    <a href="mailto:hunt@gamehunter.in">hunt@gamehunter.in</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'shop/include/shop-service-page.html' %}
{% endblock %}
<!-- Nav-bar Area End Here-->

<!-- Coverpage Area Starts Here-->
{% block coverpage %}
{% endblock %}
<!-- Coverpage Area End Here-->