{% extends 'shop/base.html' %}
{% load staticfiles %}

<!-- Site Title -->
{% block title%}<title>Frequently Asked Questions | Gamehunter.in </title>{% endblock %}

{% block navbar %}
<div class="breadcrumb-area black-bg-4">
    <div class="container">
        <div class="breadcrumb-content">
            <ul>
                <li><a href="{% url 'shop:homepage' %}">HOME</a></li>
                <li class="active">FREQUENTLY ASKED QUESTIONS</li>
            </ul>
        </div>
    </div>
</div>
<div class="about-us-area pt-80 pb-80 black-bg-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-2 d-flex align-items-center">
                <div class="overview-content-2">
                    <h2>Faq</h2>
                    <h4>1. Why need Subscription? </h4>
                    <p>We all have played multiple games. Playing different games can cost a player huge amount of
                        money. We created the simple path way for all gamers to enjoy maximum games at very low cost.
                        Half yearly/ Yearly Subscription can provide you to choose from hundreds of games (as a physical
                        disc to play. </p>
                    <h4>2. How do I select/purchase Subscription? </h4>
                    <p>You can visit our website: www.gamehunter.in and check multiple option as per your choice. We
                        have 3 plans depending on time period. </p>
                    <h4>3. Can I cancel my Subscription? </h4>
                    <p>Yes, you can cancel your subscription at any time period. The cancel will take place within 24-48
                        hours of the request. You will be charged for next 15 days and rest amount will get refunded
                        back to your bank account. </p>
                    <h4>4. What type of games will I receive? </h4>
                    <p>Please check for subscription option as “Yes” on product detail page. You can opt for any game
                        which falls under same criteria. </p>
                    <h4>5. Can I play online games through Disc I receive? </h4>
                    <p>Yes, you can play online games through disc you receive from our end. All physical games are
                        original and allow you to access all features of the same. </p>
                    <h4>6. Do we have Available bonus on the disc? </h4>
                    <p>You may or may not get disc bonus; however, it depend on discs you receive. </p>
                    <h4>7. Will I be getting all new receive in my subscription package? </h4>
                    <p>Yes, you will receive all new release depending on the package you have selected; however, the
                        new release will be issue after 2 months of release. </p>
                    <h4>8. Is there any security fees? </h4>
                    <p>Yes, we do collect Rs. 1500/- as security, please be informed the security money is refunded and
                        will credit to your bank account on cancellation/completion of subscription of the account. </p>
                    <h4>9. How soon can I swap games CD? </h4>
                    <p>You can opt for new games whenever you want. All the games will be sent to your location with
                        door to door delivery facility. </p>
                    <h4>10. How much time will it take to deliver a game? </h4>
                    <p>Delivery of any games depend on your area Pin Code. Usually, the delivery time take around 2-3
                        business days. </p>
                    <h4>11. How can I swap games? </h4>
                    <p>User need to login to their Hunter’s account to initiate swap. Our courier partner will come and
                        collect previous games. Once the previous games picked up from your address, we will release new
                        games for you to play. </p>
                    <h4>12. What will be the quality of the games? </h4>
                    <p>Please be assured about the quality of the disc, our quality team check all the disc before
                        sending them to our customers. </p>
                    <h4>13. What if user damage the physical Disc? </h4>
                    <p>If user damage the disc, we are liable to charge fine for 20% on the price of the game from the
                        security money. We always prefer our user to play and swap the game at the earliest. </p>
                    <h4>14. Can I buy new games from GameHunter? </h4>
                    <p>Yes, checkout all games at best price here: www.gamehunter.in </p>

                </div>
            </div>
        </div>
    </div>
</div>
<!--<div class="banner-area">-->
<!--<div class="container">-->
<!--<div class="row">-->
<!--<div class="col-lg-8 col-md-8">-->
<!--<div class="banner-img banner-hover banner-mrg">-->
<!--<a href="#">-->
<!--<img src="assets/img/banner/banner-10.jpg" alt="">-->
<!--</a>-->
<!--</div>-->
<!--</div>-->
<!--<div class="col-lg-4 col-md-4">-->
<!--<div class="banner-img banner-mrg-left-2 banner-hover">-->
<!--<a href="#">-->
<!--<img src="assets/img/banner/banner-11.jpg" alt="">-->
<!--</a>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
{% include 'shop/include/shop-service-page.html' %}
{% endblock %}
<!-- Nav-bar Area End Here-->

<!-- Coverpage Area Starts Here-->
{% block coverpage %}
{% endblock %}
<!-- Coverpage Area End Here-->