{% extends 'shop/base.html' %}
{% load staticfiles %}
{% load thumbnail %}

<!-- Site Title -->
{% block title%}<title>Gamehunter.in | A Game Subscription – Rental | Electronic Sports Company</title>{% endblock %}

{% block navbar %}
<meta name="keywords" content="Games Online, Game Rental, Games on Rent, Consoles on Rent"/>
<meta name="description"
      content="Gamehunter is an online platform to rent/subscribe games. Our mission is to provide the most cost effective way to play wide range of PlayStation 4 & Xbox One games.  Play series and new games under all memberships."/>
{% endblock %}
<!-- Nav-bar Area End Here-->

<!-- Coverpage Area Starts Here-->
{% block coverpage %}
{% if coverpage_top %}
<div class="slider-active owl-dot-style-2 owl-dot-red owl-carousel">
    <div class="single-slider pt-130 pb-140 bg-img"
         style="background-image:url({{ coverpage_top.get_promo_image.file.url }});">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <div class="slider-content-5 slider-animated-1 text-center">
                        {% if coverpage_top.name %}<h2 class="animated">{{ coverpage_top.name }}</h2>{% endif %}
                        {% if coverpage_top.description %}<h4 class="animated">{{ coverpage_top.description }}</h4>
                        {% endif %}
                        {% if coverpage_top.link %}
                        <div class="slider-btn red-color-2 mt-75">
                            <a class="animated" href="{{ coverpage_top.link }}">Shop Now</a>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% if banner_left and banner_right %}
<div class="banner-area pt-65">
    <div class="container">
        <div class="row">
            {% if banner_left.link %}
            <div class="col-lg-6 col-md-6">
                <div class="banner-img banner-hover banner-mrg">
                    <a href="{{ banner_left.link }}">
                    {% thumbnail banner_left.get_promo_image.file "570x160" crop="center" quality=70 as im %}
                        <img src="{{ im.url }}" height="{{ im.height }}" width="{{ im.width }}"></a>
                    {% endthumbnail %}
                </div>
            </div>
            {% else %}
            <div class="col-lg-6 col-md-6">
                <div class="banner-img banner-mrg">
                    {% thumbnail banner_left.get_promo_image.file "570x160" crop="center" quality=70 as im %}
                        <img src="{{ im.url }}" height="{{ im.height }}" width="{{ im.width }}"></a>
                    {% endthumbnail %}
                </div>
            </div>
            {% endif %}
            {% if banner_right.link %}
            <div class="col-lg-6 col-md-6">
                <div class="banner-img banner-hover">
                    <a href="{{ banner_right.link }}">
                    {% thumbnail banner_right.get_promo_image.file "570x160" crop="center" quality=70 as im %}
                        <img src="{{ im.url }}" height="{{ im.height }}" width="{{ im.width }}"></a>
                    {% endthumbnail %}
                </div>
            </div>
            {% else %}
            <div class="col-lg-6 col-md-6">
                <div class="banner-img">
                    {% thumbnail banner_right.get_promo_image.file "570x160" crop="center" quality=70 as im %}
                        <img src="{{ im.url }}" height="{{ im.height }}" width="{{ im.width }}"></a>
                    {% endthumbnail %}
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endif %}
{% endblock %}
<!-- Coverpage Area End Here-->

<!-- Featured Product Area Starts Here-->
{% block featuredproducts %}
<!-- Featured Products Area Starts -->
<div class="best-selling-area pt-60 pb-45 best-selling-game">
    <div class="container">
        <div class="top-bar section-border mb-5">
            <div class="section-title-wrapper section-bg-white">
                <h4 class="section-title">Featured Products</h4>
            </div>
            <div class="product-tab-list-2 nav section-bg-white">
                <a class="active" href="#game1" data-toggle="tab">
                    <h4>Playstation Games </h4>
                </a>
                {% if featured_xbox_games %}
                <a href="#game2" data-toggle="tab">
                    <h4>Xbox Games </h4>
                </a>
                {% endif %}
                <!--<a href="#game3" data-toggle="tab">-->
                <!--<h4> Consoles </h4>-->
                <!--</a>-->
                <!--<a href="#game4" data-toggle="tab">-->
                <!--<h4>Accessories </h4>-->
                <!--</a>-->
            </div>
        </div>
        <div class="tab-content jump">
            <div class="tab-pane active" id="game1">
                <div class="height-empty"></div>
                <div class="product-slider-nav-2 nav-style-res nav-style nav-style-game"></div>
                <div class="featured-book-active product-slider owl-carousel">
                    {% for playstationgame in featured_playstation_games %}
                    <div class="devita-product-2 devita-product-game">
                        <div class="product-img">
                            <a href="{{ playstationgame.get_absolute_url }}">
                                {% thumbnail playstationgame.get_default_photo.file "198x198" crop="center" quality=70 as im %}
                                <img src="{{ im.url }}" height="{{ im.height }}" width="{{ im.width }}"></a>
                                {% endthumbnail %}
                            </a>
                            {% if playstationgame.item_status == "I" %}
                            {% if playstationgame.total_discount %}
                            <span>{{ playstationgame.total_discount }}%</span>
                            {% endif %}
                            {% endif %}
                        </div>
                        <div class="list-col">
                            <div class="gridview">
                                <div class="product-content text-center">
                                    <span>For {{ playstationgame.category.name|upper }}</span>
                                    <h4>
                                        <a href="{{ playstationgame.get_absolute_url }}">{{playstationgame.get_product_title_name|title}}</a>
                                    </h4>
                                    {% if playstationgame.item_status == "I" %}
                                    {% ifequal playstationgame.total_discount 0 %}
                                    <div class="product-price-wrapper">
                                        <span>₹ {{ playstationgame.get_mrp_and_selling_price|last }}</span>
                                    </div>
                                    {% else %}
                                    <div class="product-price-wrapper">
                                        <span>₹ {{ playstationgame.get_mrp_and_selling_price|first }}</span>
                                        <span class="product-price-old">₹ {{ playstationgame.get_mrp_and_selling_price|last }}</span>
                                    </div>
                                    {% endifequal %}
                                    {% elif playstationgame.item_status == "S" %}
                                    <div class="product-price-wrapper">
                                        <span>Subscription Only</span>
                                    </div>
                                    {% endif %}
                                </div>
                                <div class="product-action-wrapper-2 text-center">
                                    <div class="product-rating">
                                        <i class="ion-android-star-outline theme-star"></i>
                                        <i class="ion-android-star-outline theme-star"></i>
                                        <i class="ion-android-star-outline theme-star"></i>
                                        <i class="ion-android-star-outline theme-star"></i>
                                        <i class="ion-android-star-outline"></i>
                                    </div>
                                    <p> {{ playstationgame.get_product_description|striptags|safe }}</p>
                                    {% if playstationgame in cart.products.all or product in cart.pay_game_products.all %}
                                    <div class="product-action">
                                        <a class="action-cart" title="Go To Cart" href="{% url 'carts:cart' %}">
                                            Go to Cart
                                        </a>
                                    </div>
                                    {% else %}
                                    {% if playstationgame.item_status == "I" %}
                                    <div class="product-action">
                                        <a class="action-cart" title="Add To Cart" href="{% url 'carts:add' playstationgame.slug %}">
                                            Add to Cart
                                        </a>
                                    </div>
                                    {% elif playstationgame.get_pay_per_game_subscription_price %}
                                    <div class="product-action">
                                        <a class="action-cart"
                                           title="Get This Game on Subscription at rupee {{ playstationgame.get_pay_per_game_subscription_price }} Only"
                                           href="{% url 'carts:pay-per-game-product' playstationgame.slug %}">
                                            Get @ ₹ {{ playstationgame.get_pay_per_game_subscription_price.value }} Only
                                        </a>
                                    </div>
                                    {% else %}
                                    <div class="product-action">
                                        <a class="action-cart" title="Buy Subscription"
                                           href="{% url 'shop:subscription-list' %}">
                                            Buy Subscription </a>
                                    </div>
                                    {% endif %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% if featured_xbox_games %}
            <div class="tab-pane" id="game2">
                <div class="height-empty"></div>
                <div class="product-slider-nav-2 nav-style-res nav-style nav-style-game"></div>
                <div class="featured-book-active product-slider owl-carousel">
                    {% for xboxgame in featured_xbox_games %}
                    <div class="devita-product-2 devita-product-game">
                        <div class="product-img">
                            <a href="{{ xboxgame.get_absolute_url }}">
                                {% thumbnail xboxgame.get_default_photo.file "198x198" crop="center" quality=70 as im %}
                                <img src="{{ im.url }}" height="{{ im.height }}" width="{{ im.width }}"></a>
                            {% endthumbnail %}
                            {% if xboxgame.item_status == "I" %}
                            {% if xboxgame.total_discount %}
                            <span>{{ xboxgame.total_discount }}%</span>
                            {% endif %}
                            {% endif %}
                        </div>
                        <div class="list-col">
                            <div class="gridview">
                                <div class="product-content text-center">
                                    <span>For {{ xboxgame.category.name|upper }}</span>
                                    <h4><a href="{{ xboxgame.get_absolute_url }}">
                                        {{xboxgame.get_product_title_name|title }}</a>
                                    </h4>
                                    {% if xboxgame.item_status == "I" %}
                                    {% ifequal xboxgame.total_discount 0 %}
                                    <div class="product-price-wrapper">
                                        <span>₹ {{ xboxgame.get_mrp_and_selling_price|last }}</span>
                                    </div>
                                    {% else %}
                                    <div class="product-price-wrapper">
                                        <span>₹ {{ xboxgame.get_mrp_and_selling_price|first }}</span>
                                        <span class="product-price-old">₹ {{ xboxgame.get_mrp_and_selling_price|last }}</span>
                                    </div>
                                    {% endifequal %}
                                    {% elif xboxgame.item_status == "S" %}
                                    <div class="product-price-wrapper">
                                        <span>Subscription Only</span>
                                    </div>
                                    {% endif %}
                                </div>
                                <div class="product-action-wrapper-2 text-center">
                                    <div class="product-rating">
                                        <i class="ion-android-star-outline theme-star"></i>
                                        <i class="ion-android-star-outline theme-star"></i>
                                        <i class="ion-android-star-outline theme-star"></i>
                                        <i class="ion-android-star-outline theme-star"></i>
                                        <i class="ion-android-star-outline"></i>
                                    </div>
                                    <p> {{ xboxgame.get_product_description|striptags|safe }}</p>
                                    {% if xboxgame.item_status == "I" %}
                                    <div class="product-action">
                                        <a class="action-cart" title="Add To Cart" href="{% url 'carts:add' xboxgame.slug %}">
                                            Add to Cart
                                        </a>
                                    </div>
                                    {% else %}
                                    {% if xboxgame.get_pay_per_game_subscription_price %}
                                    <div class="product-action">
                                        <a class="action-cart"
                                           title="Get This Game on Subscription at rupee {{ xboxgame.get_pay_per_game_subscription_price }} Only"
                                           href="{% url 'carts:pay-per-game-product' xboxgame.slug %}">
                                            Get @ ₹{{ xboxgame.get_pay_per_game_subscription_price }} Only </a>
                                    </div>
                                    {% else %}
                                    <div class="product-action">
                                        <a class="action-cart" title="Buy Subscription"
                                           href="{% url 'shop:subscription-list' %}">
                                            Buy Subscription </a>
                                    </div>
                                    {% endif %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>
<!-- Featured Products Area Ends Here - ->
{% endblock %}
<!-- Featured Product Area Ends Here-->

<!-- Coverpage Center Area Starts Here-->
{% block banner1 %}
{% if center_coverpage %}
<div class="banner-area">
    <div class="banner-content-2">
        {% thumbnail center_coverpage.get_promo_image.file "1349x187" crop="center" quality=60 as im %}
        <img src="{{ im.url }}" height="{{ im.height }}" width="{{ im.width }}"></a>
        {% endthumbnail %}
    </div>
</div>
{% endif %}
{% endblock %}
<!-- Coverpage Center Area Ends Here-->

<!-- Homepage-Console-Category Area Starts Here-->
{% block consolecategory %}
<!-- Console Category Area Starts -->
<div class="product-area pt-60 pb-65 product-area-game">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="new-arrivals-area mrg-top-md mrg-top-sm">
                    <div class="section-border mb-40">
                        <h4 class="section-title white-title section-bg-white">What's New</h4>
                    </div>
                    <div class="product-slider-active-2 nav-style nav-style-game owl-carousel">
                        <div class="single-product-bundle">
                            {% for product in new_arrived_products|slice:":3" %}
                            <div class="single-product-wrapper single-product-game">
                                <div class="single-product-img">
                                    <a href="{{ product.get_absolute_url }}">
                                    {% thumbnail product.get_default_photo.file "100x100" crop="center" quality=70 as im %}
                                        <img src="{{ im.url }}" height="{{ im.height }}" width="{{ im.width }}"></a>
                                    {% endthumbnail %}
                                </div>
                                <div class="product-content">
                                    <span>For {{ product.category.name|upper }}</span>
                                    <h4>
                                        <a href="{{ product.get_absolute_url }}">
                                            {{product.get_product_title_name|title}}</a>
                                    </h4>
                                    <!--<div class="product-price-wrapper">-->
                                        <!--<span>₹ {{ product.get_mrp_and_selling_price|last }}</span>-->
                                    <!--</div>-->
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        {% if new_arrived_products|slice:"3:6" %}
                        <div class="single-product-bundle">
                            {% for product in new_arrived_products|slice:"3:6" %}
                            <div class="single-product-wrapper single-product-game">
                                <div class="single-product-img">
                                    <a href="{{ product.get_absolute_url }}">
                                    {% thumbnail product.get_default_photo.file "100x100" crop="center" quality=70 as im %}
                                        <img src="{{ im.url }}" height="{{ im.height }}" width="{{ im.width }}"></a>
                                    {% endthumbnail %}
                                </div>
                                <div class="product-content">
                                    <span>For {{ product.category.name|upper }}</span>
                                    <h4>
                                        <a href="{{ product.get_absolute_url }}">
                                            {{product.get_product_title_name|title}}</a>
                                    </h4>
                                    <!--<div class="product-price-wrapper">-->
                                        <!--<span>₹ {{ product.get_mrp_and_selling_price|last }}</span>-->
                                    <!--</div>-->
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        {% endif %}
                        {% if new_arrived_products|slice:"6:9" %}
                        <div class="single-product-bundle">
                            {% for product in new_arrived_products|slice:"6:9" %}
                            <div class="single-product-wrapper single-product-game">
                                <div class="single-product-img">
                                    <a href="{{ product.get_absolute_url }}">
                                    {% thumbnail product.get_default_photo.file "100x100" crop="center" quality=70 as im %}
                                        <img src="{{ im.url }}" height="{{ im.height }}" width="{{ im.width }}"></a>
                                    {% endthumbnail %}
                                </div>
                                <div class="product-content">
                                    <span>For {{ product.category.name|upper }}</span>
                                    <h4>
                                        <a href="{{ product.get_absolute_url }}">
                                            {{product.get_product_title_name|title}}</a>
                                    </h4>
                                    <!--<div class="product-price-wrapper">-->
                                        <!--<span>₹ {{ product.get_mrp_and_selling_price|last }}</span>-->
                                    <!--</div>-->
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        {% endif %}
                        {% if new_arrived_products|slice:"9:12" %}
                        <div class="single-product-bundle">
                            {% for product in new_arrived_products|slice:"9:12" %}
                            <div class="single-product-wrapper single-product-game">
                                <div class="single-product-img">
                                    <a href="{{ product.get_absolute_url }}">
                                    {% thumbnail product.get_default_photo.file "100x100" crop="center" quality=70 as im %}
                                        <img src="{{ im.url }}" height="{{ im.height }}" width="{{ im.width }}"></a>
                                    {% endthumbnail %}
                                </div>
                                <div class="product-content">
                                    <span>For {{ product.category.name|upper }}</span>
                                    <h4>
                                        <a href="{{ product.get_absolute_url }}">
                                            {{product.get_product_title_name|title}}</a>
                                    </h4>
                                    <!--<div class="product-price-wrapper">-->
                                        <!--<span>₹ {{ product.get_mrp_and_selling_price|last }}</span>-->
                                    <!--</div>-->
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="new-arrivals-area mrg-top-md mrg-top-sm">
                    <div class="section-border mb-40">
                        <h4 class="section-title white-title section-bg-white">New Released Games</h4>
                    </div>
                    <div class="product-slider-active-2 nav-style nav-style-game owl-carousel">
                        <div class="single-product-bundle">
                            {% for product in new_released_games|slice:":3" %}
                            <div class="single-product-wrapper single-product-game">
                                <div class="single-product-img">
                                    <a href="{{ product.get_absolute_url }}">
                                    {% thumbnail product.get_default_photo.file "100x100" crop="center" quality=70 as im %}
                                        <img src="{{ im.url }}" height="{{ im.height }}" width="{{ im.width }}"></a>
                                    {% endthumbnail %}
                                </div>
                                <div class="product-content">
                                    <span>For {{ product.category.name|upper }}</span>
                                    <h4>
                                        <a href="{{ product.get_absolute_url }}">
                                            {{product.get_product_title_name|title}}</a>
                                    </h4>
                                    <!--<div class="product-price-wrapper">-->
                                        <!--<span>₹ {{ product.get_mrp_and_selling_price|last }}</span>-->
                                    <!--</div>-->
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        {% if new_released_games|slice:"3:6" %}
                        <div class="single-product-bundle">
                            {% for product in new_released_games|slice:"3:6" %}
                            <div class="single-product-wrapper single-product-game">
                                <div class="single-product-img">
                                    <a href="{{ product.get_absolute_url }}">
                                    {% thumbnail product.get_default_photo.file "100x100" crop="center" quality=70 as im %}
                                        <img src="{{ im.url }}" height="{{ im.height }}" width="{{ im.width }}"></a>
                                    {% endthumbnail %}
                                </div>
                                <div class="product-content">
                                    <span>For {{ product.category.name|upper }}</span>
                                    <h4>
                                        <a href="{{ product.get_absolute_url }}">
                                            {{product.get_product_title_name|title}}</a>
                                    </h4>
                                    <!--<div class="product-price-wrapper">-->
                                        <!--<span>₹ {{ product.get_mrp_and_selling_price|last }}</span>-->
                                    <!--</div>-->
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        {% endif %}
                        {% if new_released_games|slice:"6:9" %}
                        <div class="single-product-bundle">
                            {% for product in new_released_games|slice:"6:9" %}
                            <div class="single-product-wrapper single-product-game">
                                <div class="single-product-img">
                                    <a href="{{ product.get_absolute_url }}">
                                    {% thumbnail product.get_default_photo.file "100x100" crop="center" quality=70 as im %}
                                        <img src="{{ im.url }}" height="{{ im.height }}" width="{{ im.width }}"></a>
                                    {% endthumbnail %}
                                </div>
                                <div class="product-content">
                                    <span>For {{ product.category.name|upper }}</span>
                                    <h4>
                                        <a href="{{ product.get_absolute_url }}">
                                            {{product.get_product_title_name|title}}</a>
                                    </h4>
                                    <!--<div class="product-price-wrapper">-->
                                        <!--<span>₹ {{ product.get_mrp_and_selling_price|last }}</span>-->
                                    <!--</div>-->
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        {% endif %}
                        {% if new_released_games|slice:"9:12" %}
                        <div class="single-product-bundle">
                            {% for product in new_released_games|slice:"9:12" %}
                            <div class="single-product-wrapper single-product-game">
                                <div class="single-product-img">
                                    <a href="{{ product.get_absolute_url }}">
                                    {% thumbnail product.get_default_photo.file "100x100" crop="center" quality=70 as im %}
                                        <img src="{{ im.url }}" height="{{ im.height }}" width="{{ im.width }}">
                                    {% endthumbnail %}
                                    </a>
                                </div>
                                <div class="product-content">
                                    <span>For {{ product.category.name|upper }}</span>
                                    <h4>
                                        <a href="{{ product.get_absolute_url }}">
                                            {{product.get_product_title_name|title}}</a>
                                    </h4>
                                    <!--<div class="product-price-wrapper">-->
                                        <!--<span>₹ {{ product.get_mrp_and_selling_price|last }}</span>-->
                                    <!--</div>-->
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="new-arrivals-area">
                    <div class="section-border mb-40">
                        <h4 class="section-title white-title section-bg-white">Trending in Community</h4>
                    </div>
                    <div class="product-slider-active-2 nav-style nav-style-game owl-carousel">
                        <div class="single-product-bundle">
                            {% for product in trending_products|slice:":3" %}
                            <div class="single-product-wrapper single-product-game">
                                <div class="single-product-img">
                                    <a href="{{ product.get_absolute_url }}">
                                    {% thumbnail product.get_default_photo.file "100x100" crop="center" quality=70 as im %}
                                        <img src="{{ im.url }}" height="{{ im.height }}" width="{{ im.width }}">
                                    {% endthumbnail %}
                                    </a>
                                </div>
                                <div class="product-content">
                                    <span>For {{ product.category.name|upper }}</span>
                                    <h4>
                                        <a href="{{ product.get_absolute_url }}">
                                            {{product.get_product_title_name|title}}
                                        </a>
                                    </h4>
                                    <!--<div class="product-price-wrapper">-->
                                        <!--<span>₹ 3760</span>-->
                                    <!--</div>-->
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        {% if trending_products|slice:"3:6" %}
                        <div class="single-product-bundle">
                            {% for product in trending_products|slice:"3:6" %}
                            <div class="single-product-wrapper single-product-game">
                                <div class="single-product-img">
                                    <a href="{{ product.get_absolute_url }}">
                                    {% thumbnail product.get_default_photo.file "100x100" crop="center" quality=70 as im %}
                                        <img src="{{ im.url }}" height="{{ im.height }}" width="{{ im.width }}">
                                    {% endthumbnail %}
                                    </a>
                                </div>
                                <div class="product-content">
                                    <span>For {{ product.category.name|upper }}</span>
                                    <h4>
                                        <a href="{{ product.get_absolute_url }}">
                                            {{product.get_product_title_name|title}}
                                        </a>
                                    </h4>
                                    <!--<div class="product-price-wrapper">-->
                                        <!--<span>₹ 3760</span>-->
                                    <!--</div>-->
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        {% endif %}
                        {% if trending_products|slice:"6:9" %}
                        <div class="single-product-bundle">
                            {% for product in trending_products|slice:"6:9" %}
                            <div class="single-product-wrapper single-product-game">
                                <div class="single-product-img">
                                    <a href="{{ product.get_absolute_url }}">
                                    {% thumbnail product.get_default_photo.file "100x100" crop="center" quality=70 as im %}
                                        <img src="{{ im.url }}" height="{{ im.height }}" width="{{ im.width }}">
                                    {% endthumbnail %}
                                    </a>
                                </div>
                                <div class="product-content">
                                    <span>For {{ product.category.name|upper }}</span>
                                    <h4>
                                        <a href="{{ product.get_absolute_url }}">
                                            {{product.get_product_title_name|title}}
                                        </a>
                                    </h4>
                                    <!--<div class="product-price-wrapper">-->
                                        <!--<span>₹ 3760</span>-->
                                    <!--</div>-->
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        {% endif %}
                        {% if trending_products|slice:"9:12" %}
                        <div class="single-product-bundle">
                            {% for product in trending_products|slice:"9:12" %}
                            <div class="single-product-wrapper single-product-game">
                                <div class="single-product-img">
                                    <a href="{{ product.get_absolute_url }}">
                                    {% thumbnail product.get_default_photo.file "100x100" crop="center" quality=70 as im %}
                                        <img src="{{ im.url }}" height="{{ im.height }}" width="{{ im.width }}">
                                    {% endthumbnail %}
                                    </a>
                                </div>
                                <div class="product-content">
                                    <span>For {{ product.category.name|upper }}</span>
                                    <h4>
                                        <a href="{{ product.get_absolute_url }}">
                                            {{product.get_product_title_name|title}}
                                        </a>
                                    </h4>
                                    <!--<div class="product-price-wrapper">-->
                                        <!--<span>₹ 3760</span>-->
                                    <!--</div>-->
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Console Category Area Ends -->
<!-- Homepage-Console-Category Area Ends Here-->
{% endblock %}
<!-- Coverpage Bottom Area Starts Here-->
{% block banner2 %}
<div class="banner-area">
    {% if bottom_coverpage %}
    {% if bottom_coverpage.link %}
    <a href="{{ bottom_coverpage.link }}">
        <div class="banner-content-2">
            {% thumbnail bottom_coverpage.get_promo_image.file "1170x160" crop="center" quality=60 as im %}
            <img src="{{ im.url }}" height="{{ im.height }}" width="{{ im.width }}">
            {% endthumbnail %}
        </div>
    </a>
    {% else %}
    <div class="banner-content-2">
        {% thumbnail bottom_coverpage.get_promo_image.file "1170x160" crop="center" quality=60 as im %}
        <img src="{{ im.url }}" height="{{ im.height }}" width="{{ im.width }}">
        {% endthumbnail %}
    </div>
    {% endif %}
    {% endif %}
</div>
{% endblock %}
<!-- Coverpage Bottom Area Ends Here-->

<!-- Homepage-Blogs Area Starts Here-->
{% block blogging %}

{% endblock %}
<!-- Homepage-Blogs Area Ends Here-->
<!-- Footer Area Start Here -->
{% block footer %}
{% endblock %}
<!-- Footer Area Ends -->
