{% extends 'shop/base.html' %}
{% load staticfiles %}


<!-- Site Title -->
{% block title%}<title>Games Subscription Plans</title>{% endblock %}

{% block navbar %}
{% if plans %}
<div class="breadcrumb-area black-bg-4">
    <div class="container">
        <div class="breadcrumb-content">
            <ul>
                <li><a href="{% url 'shop:homepage' %}">HOME</a></li>
                <li class="active">SUBSCRIPTIONS</li>
            </ul>
        </div>
    </div>
</div>
{% endif %}
<div class="blog-area pt-65 pb-65 black-bg-5 blog-game">
    <div class="container">
        <div class="row">
            {% for plan in plans %}
            <div class="col-lg-4 col-md-6 col-12">
                <div class="subscription-wrapper mb-30 main-subscription">
                    <div class="blog-img mb-20">
                        <a href="{{ plan.get_absolute_url }}">
                            <img src="{{plan.image.url}}" height="250">
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% include 'shop/include/shop-service-page.html' %}
{% endblock %}
<!-- Nav-bar Area End Here-->

<!-- Coverpage Area Starts Here-->
{% block coverpage %}
{% endblock %}
<!-- Coverpage Area End Here-->

<!-- Featured Product Area Starts Here-->
{% block featuredproducts %}
{% endblock %}
<!-- Featured Product Area Ends Here-->

<!-- Banner-1 Area Starts Here-->
{% block banner1 %}
{% endblock %}
<!-- Banner-1 Area Ends Here-->

<!-- Homepage-Console-Category Area Starts Here-->
{% block consolecategory %}
{% endblock %}
<!-- Homepage-Console-Category Area Ends Here-->

<!-- Banner-2 Area Starts Here-->
{% block banner2 %}
{% endblock %}
<!-- Banner-2 Area Ends Here-->

<!-- Homepage-Blogs Area Starts Here-->
{% block blogging %}
{% endblock %}
<!-- Homepage-Blogs Area Ends Here-->
<!-- Footer Area Start Here -->
{% block footer %}
{% endblock %}
<!-- Footer Area Ends -->