{% extends 'shop/base.html' %}
{% load staticfiles %}

<!-- Site Title -->
{% block title%}<title>Rental Plan {{ plan.name|title }}</title>{% endblock %}

{% block navbar %}
<div class="breadcrumb-area black-bg-4">
    <div class="container">
        <div class="breadcrumb-content">
            <ul>
                <li><a href="{% url 'shop:homepage' %}">HOME</a></li>
                <li><a href="{% url 'shop:subscription-list' %}">SUBSCRIPTION</a></li>
                <li class="active">{{ plan.name }}</li>
            </ul>
        </div>
    </div>
</div>
<div class="product-details pt-65 pb-65 black-bg-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="product-details-img">
                    <div class="zoompro-span">
                        <img src="{{ plan.image.url }}" data-zoom-image="{{ plan.image.url }}" alt=""
                             height="560" width="560">
                        <!--<div class="product-video">-->
                            <!--<a class="video-popup" href="https://www.youtube.com/watch?v=tce_Ap96b0c">-->
                                <!--<i class="fa fa-video-camera"></i>-->
                                <!--View Video-->
                            <!--</a>-->
                        <!--</div>-->
                    </div>
                    <div id="gallery" class="mt-20 product-dec-slider owl-carousel">
                        <a data-image="{{ plan.image.url }}"
                           data-zoom-image="{{ plan.image.url }}">
                            <img src="{{ plan.image.url }}" alt="" height="108px" width="90px">
                        </a>
                    </div>

                    {% if plan.discount %}
                    <span> {{ plan.discount }}% Off!</span>
                    {% endif %}

                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="product-details-content">
                    <h1>{{ plan.name|upper }} </h1>
                    <div class="rating-review">
                        <div class="pro-dec-rating">
                            <i class="ion-android-star-outline theme-star"></i>
                            <i class="ion-android-star-outline theme-star"></i>
                            <i class="ion-android-star-outline theme-star"></i>
                            <i class="ion-android-star-outline theme-star"></i>
                            <i class="ion-android-star-outline"></i>
                        </div>
                        <!--<div class="pro-dec-review">-->
                        <!--<ul>-->
                        <!--<li>32 Reviews</li>-->
                        <!--</ul>-->
                        <!--</div>-->
                    </div>
                    {% if plan.active %}
                    {% if plan.discount != 0 %}
                    <span class="product-old-price">₹ {{ plan.subscription_amount }}</span>
                    <span>₹ {{ plan.get_plan_selling_price }} for {{ plan.duration }} Months</span>
                    {% else %}
                    <span>₹ {{ plan.subscription_amount }} for {{ plan.duration }} Months</span>
                    {% endif %}
                    <div class="in-stock">
                        <p>Monthly Subscription Amount: <span>{{ plan.get_monthly_subscription_amount }} </span></p>
                        {% if plan.additional_month > 0 %}
                        <p>Subscription Duration: <span>{{ plan.duration }} Month + {{ plan.additional_month }} Month Extra!</span>
                        </p>
                        {% else %}
                        <p>Subscription Duration: <span>{{ plan.duration }} Month</span></p>
                        {% endif %}
                    </div>
                    {% else %}
                    <span>Not Available!</span>
                    {% endif %}
                    <!--<div class="pro-dec-feature">-->
                    <!--<ul>-->
                    <!--<li><input type="checkbox"> Protection Plan: <span> 2 year  $4.99</span></li>-->
                    <!--<li><input type="checkbox"> Remote Holder: <span> $9.99</span></li>-->
                    <!--<li><input type="checkbox"> Koral Alexa Voice Remote Case: <span> Red  $16.99</span></li>-->
                    <!--<li><input type="checkbox"> Amazon Basics HD Antenna: <span>25 Mile  $14.99</span></li>-->
                    <!--</ul>-->
                    <!--</div>-->
                    <div class="quality-add-to-cart">
                        <!--<div class="quality">-->
                        <!--<label>Qty:</label>-->
                        <!--<input class="cart-plus-minus-box" type="text" name="qtybutton" value="02">-->
                        <!--</div>-->
                        {% if plan.active %}
                        {% if user.userprofile.has_subscription %}
                        <h3>Hi! you already a hunter.</h3>
                        {% else %}
                        <div class="product-action">
                            <a class="action-cart" title="Add To Cart" href="{% url 'carts:add-plan' plan.slug %}">Add to Cart</a>
                            <!--<a class="same-action" title="Wishlist" href="#">-->
                            <!--<i class="fa fa-heart-o"></i>-->
                            <!--</a>-->
                            <!--<a class="same-action compare-mrg" data-target="#exampleCompare" data-toggle="modal"-->
                            <!--title="Compare" href="#">-->
                            <!--<i class="fa fa-sliders fa-rotate-90"></i>-->
                            <!--</a>-->
                        </div>
                        {% endif %}
                        {% endif %}
                    </div>
                    <!--<div class="pro-dec-categories">-->
                    <!--<ul>-->
                    <!--<li class="categories-title">Available for:</li>-->
                    <!--{% for item in product.item_type.all %}-->
                    <!--<li><a href="#">{{item}},</a></li>-->
                    <!--{% endfor %}-->
                    <!--</ul>-->
                    <!--</div>-->
                    <!--<div class="pro-dec-categories">-->
                    <!--<ul>-->
                    <!--<li class="categories-title">Tags:</li>-->
                    <!--<li><a href="#">Plazatheme,</a></li>-->
                    <!--<li><a href="#"> Table, </a></li>-->
                    <!--<li><a href="#">Woo,</a></li>-->
                    <!--<li><a href="#"> e-Commerce,</a></li>-->
                    <!--</ul>-->
                    <!--</div>-->
                    <div class="pro-dec-social">
                        <ul>
                            <li><a class="tweet" href="#"><i class="ion-social-twitter"></i> Tweet</a></li>
                            <li><a class="share" href="{{ product.get_absolute_url }}"><i
                                    class="ion-social-facebook"></i> Share</a></li>
                            <li><a class="google" href="#"><i class="ion-social-googleplus-outline"></i> Google+</a>
                            </li>
                            <li><a class="pinterest" href="#"><i class="ion-social-pinterest"></i> Pinterest</a>
                            </li>
                        </ul>
                    </div>
                    <!--<div class="pro-dec-btn">-->
                    <!--<a href="#"><i class="fa fa-angle-left"></i></a>-->
                    <!--<a href="#"><i class="fa fa-angle-right"></i></a>-->
                    <!--</div>-->
                </div>
            </div>
        </div>
    </div>
</div>
<div class="description-review-area pt-25 pb-70 black-bg-5">
    <div class="container">
        <div class="description-review-wrapper">
            <div class="description-review-topbar nav text-center">
                <a class="active" data-toggle="tab" href="#des-details1">Description</a>
                <a data-toggle="tab" href="#des-details2">Term & Condition</a>
            </div>
            <div class="tab-content description-review-bottom">
                <div id="des-details1" class="tab-pane active">
                    <div class="product-description-wrapper">
                        {{plan.description|safe}}
                    </div>
                </div>
                <div id="des-details2" class="tab-pane">
                    <div class="product-anotherinfo-wrapper">
                        {{ plan.term_condition|safe }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--<div class="product-area pb-45 black-bg-5">-->
<!--<div class="container">-->
<!--<div class="section-border mb-10">-->
<!--<h4 class="section-title section-bg-black">Related Products</h4>-->
<!--</div>-->
<!--<div class="product-slider-nav nav-style"></div>-->
<!--<div class="headphone-slider-active product-slider owl-carousel nav-style">-->
<!--<div class="devita-product-2">-->
<!--<div class="product-img black-bg-5">-->
<!--<a href="product-details.html">-->
<!--<img src="{% static 'img/product/pro-game-1.png' %}">-->
<!--</a>-->
<!--</div>-->
<!--<div class="list-col black-bg-5">-->
<!--<div class="gridview">-->
<!--<div class="product-content text-center">-->
<!--<span>Headphone, Accessories</span>-->
<!--<h4><a href="product-details.html">Matrior white Headphone Ver 2018 </a></h4>-->
<!--<div class="product-price-wrapper">-->
<!--<span>$260.00</span>-->
<!--</div>-->
<!--</div>-->
<!--<div class="product-action-wrapper-2 text-center">-->
<!--<div class="product-rating">-->
<!--<i class="ion-android-star-outline theme-star"></i>-->
<!--<i class="ion-android-star-outline theme-star"></i>-->
<!--<i class="ion-android-star-outline theme-star"></i>-->
<!--<i class="ion-android-star-outline theme-star"></i>-->
<!--<i class="ion-android-star-outline"></i>-->
<!--</div>-->
<!--<p> Quam elit phasellus nibh sed eget, sed nunc in ultricies sodales sapien, non velit-->
<!--scelerisque...</p>-->
<!--<div class="product-action">-->
<!--<a class="same-action" title="Wishlist" href="#">-->
<!--<i class="fa fa-heart-o"></i>-->
<!--</a>-->
<!--<a class="action-cart" title="Quick View" data-toggle="modal"-->
<!--data-target="#exampleModal" href="#">-->
<!--Add to Cart-->
<!--</a>-->
<!--<a class="same-action compare-mrg" data-target="#exampleCompare" data-toggle="modal"-->
<!--title="Compare" href="#">-->
<!--<i class="fa fa-sliders fa-rotate-90"></i>-->
<!--</a>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="devita-product-2">-->
<!--<div class="product-img black-bg-5">-->
<!--<a href="product-details.html">-->
<!--<img src="{% static 'img/product/pro-game-1.png' %}" alt="">-->
<!--</a>-->
<!--<span>-30%</span>-->
<!--</div>-->
<!--<div class="list-col black-bg-5">-->
<!--<div class="gridview">-->
<!--<div class="product-content text-center">-->
<!--<span>Headphone, Accessories</span>-->
<!--<h4><a href="product-details.html">Matrior black Headphone Ver 2018</a></h4>-->
<!--<div class="product-price-wrapper">-->
<!--<span>$260.00</span>-->
<!--<span class="product-price-old">$162.00 </span>-->
<!--</div>-->
<!--</div>-->
<!--<div class="product-action-wrapper-2 text-center">-->
<!--<div class="product-rating">-->
<!--<i class="ion-android-star-outline theme-star"></i>-->
<!--<i class="ion-android-star-outline theme-star"></i>-->
<!--<i class="ion-android-star-outline theme-star"></i>-->
<!--<i class="ion-android-star-outline theme-star"></i>-->
<!--<i class="ion-android-star-outline"></i>-->
<!--</div>-->
<!--<p> Quam elit phasellus nibh sed eget, sed nunc in ultricies sodales sapien, non velit-->
<!--scelerisque...</p>-->
<!--<div class="product-action">-->
<!--<a class="same-action" title="Wishlist" href="#">-->
<!--<i class="fa fa-heart-o"></i>-->
<!--</a>-->
<!--<a class="action-cart" title="Quick View" data-toggle="modal"-->
<!--data-target="#exampleModal" href="#">-->
<!--Add to Cart-->
<!--</a>-->
<!--<a class="same-action compare-mrg" data-target="#exampleCompare" data-toggle="modal"-->
<!--title="Compare" href="#">-->
<!--<i class="fa fa-sliders fa-rotate-90"></i>-->
<!--</a>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="devita-product-2">-->
<!--<div class="product-img black-bg-5">-->
<!--<a href="product-details.html">-->
<!--<img src="{% static 'img/product/pro-game-1.png' %}" alt="">-->
<!--</a>-->
<!--</div>-->
<!--<div class="list-col black-bg-5">-->
<!--<div class="gridview">-->
<!--<div class="product-content text-center">-->
<!--<span>Headphone, Accessories</span>-->
<!--<h4><a href="product-details.html">Matrior blue Headphone Ver 2018</a></h4>-->
<!--<div class="product-price-wrapper">-->
<!--<span>$300.00</span>-->
<!--</div>-->
<!--</div>-->
<!--<div class="product-action-wrapper-2 text-center">-->
<!--<div class="product-rating">-->
<!--<i class="ion-android-star-outline theme-star"></i>-->
<!--<i class="ion-android-star-outline theme-star"></i>-->
<!--<i class="ion-android-star-outline theme-star"></i>-->
<!--<i class="ion-android-star-outline theme-star"></i>-->
<!--<i class="ion-android-star-outline"></i>-->
<!--</div>-->
<!--<p> Quam elit phasellus nibh sed eget, sed nunc in ultricies sodales sapien, non velit-->
<!--scelerisque...</p>-->
<!--<div class="product-action">-->
<!--<a class="same-action" title="Wishlist" href="#">-->
<!--<i class="fa fa-heart-o"></i>-->
<!--</a>-->
<!--<a class="action-cart" title="Quick View" data-toggle="modal"-->
<!--data-target="#exampleModal" href="#">-->
<!--Add to Cart-->
<!--</a>-->
<!--<a class="same-action compare-mrg" data-target="#exampleCompare" data-toggle="modal"-->
<!--title="Compare" href="#">-->
<!--<i class="fa fa-sliders fa-rotate-90"></i>-->
<!--</a>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="devita-product-2">-->
<!--<div class="product-img black-bg-5">-->
<!--<a href="product-details.html">-->
<!--<img src="{% static 'img/product/pro-game-1.png' %}" alt="">-->
<!--</a>-->
<!--<span>-10%</span>-->
<!--</div>-->
<!--<div class="list-col black-bg-5">-->
<!--<div class="gridview">-->
<!--<div class="product-content text-center">-->
<!--<span>Headphone, Accessories</span>-->
<!--<h4><a href="product-details.html">Matrior black Headphone Ver 2018</a></h4>-->
<!--<div class="product-price-wrapper">-->
<!--<span>$120.00</span>-->
<!--<span class="product-price-old">$150.00 </span>-->
<!--</div>-->
<!--</div>-->
<!--<div class="product-action-wrapper-2 text-center">-->
<!--<div class="product-rating">-->
<!--<i class="ion-android-star-outline theme-star"></i>-->
<!--<i class="ion-android-star-outline theme-star"></i>-->
<!--<i class="ion-android-star-outline theme-star"></i>-->
<!--<i class="ion-android-star-outline theme-star"></i>-->
<!--<i class="ion-android-star-outline"></i>-->
<!--</div>-->
<!--<p> Quam elit phasellus nibh sed eget, sed nunc in ultricies sodales sapien, non velit-->
<!--scelerisque...</p>-->
<!--<div class="product-action">-->
<!--<a class="same-action" title="Wishlist" href="#">-->
<!--<i class="fa fa-heart-o"></i>-->
<!--</a>-->
<!--<a class="action-cart" title="Quick View" data-toggle="modal"-->
<!--data-target="#exampleModal" href="#">-->
<!--Add to Cart-->
<!--</a>-->
<!--<a class="same-action compare-mrg" data-target="#exampleCompare" data-toggle="modal"-->
<!--title="Compare" href="#">-->
<!--<i class="fa fa-sliders fa-rotate-90"></i>-->
<!--</a>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="devita-product-2">-->
<!--<div class="product-img">-->
<!--<a href="product-details.html">-->
<!--<img src="assets/img/product/headphone-5.jpg" alt="">-->
<!--</a>-->
<!--</div>-->
<!--<div class="list-col">-->
<!--<div class="gridview">-->
<!--<div class="product-content text-center">-->
<!--<span>Headphone, Accessories</span>-->
<!--<h4><a href="product-details.html">Matrior white Headphone Ver 2018</a></h4>-->
<!--<div class="product-price-wrapper">-->
<!--<span>$190.00</span>-->
<!--</div>-->
<!--</div>-->
<!--<div class="product-action-wrapper-2 text-center">-->
<!--<div class="product-rating">-->
<!--<i class="ion-android-star-outline theme-star"></i>-->
<!--<i class="ion-android-star-outline theme-star"></i>-->
<!--<i class="ion-android-star-outline theme-star"></i>-->
<!--<i class="ion-android-star-outline theme-star"></i>-->
<!--<i class="ion-android-star-outline"></i>-->
<!--</div>-->
<!--<p> Quam elit phasellus nibh sed eget, sed nunc in ultricies sodales sapien, non velit-->
<!--scelerisque...</p>-->
<!--<div class="product-action">-->
<!--<a class="same-action" title="Wishlist" href="#">-->
<!--<i class="fa fa-heart-o"></i>-->
<!--</a>-->
<!--<a class="action-cart" title="Quick View" data-toggle="modal"-->
<!--data-target="#exampleModal" href="#">-->
<!--Add to Cart-->
<!--</a>-->
<!--<a class="same-action compare-mrg" data-target="#exampleCompare" data-toggle="modal"-->
<!--title="Compare" href="#">-->
<!--<i class="fa fa-sliders fa-rotate-90"></i>-->
<!--</a>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="devita-product-2">-->
<!--<div class="product-img">-->
<!--<a href="product-details.html">-->
<!--<img src="assets/img/product/headphone-2.jpg" alt="">-->
<!--</a>-->
<!--<span>-15%</span>-->
<!--</div>-->
<!--<div class="list-col">-->
<!--<div class="gridview">-->
<!--<div class="product-content text-center">-->
<!--<span>Headphone, Accessories</span>-->
<!--<h4><a href="product-details.html">Matrior black Headphone Ver 2018</a></h4>-->
<!--<div class="product-price-wrapper">-->
<!--<span>$260.00</span>-->
<!--<span class="product-price-old">$162.00 </span>-->
<!--</div>-->
<!--</div>-->
<!--<div class="product-action-wrapper-2 text-center">-->
<!--<div class="product-rating">-->
<!--<i class="ion-android-star-outline theme-star"></i>-->
<!--<i class="ion-android-star-outline theme-star"></i>-->
<!--<i class="ion-android-star-outline theme-star"></i>-->
<!--<i class="ion-android-star-outline theme-star"></i>-->
<!--<i class="ion-android-star-outline"></i>-->
<!--</div>-->
<!--<p> Quam elit phasellus nibh sed eget, sed nunc in ultricies sodales sapien, non velit-->
<!--scelerisque...</p>-->
<!--<div class="product-action">-->
<!--<a class="same-action" title="Wishlist" href="#">-->
<!--<i class="fa fa-heart-o"></i>-->
<!--</a>-->
<!--<a class="action-cart" title="Quick View" data-toggle="modal"-->
<!--data-target="#exampleModal" href="#">-->
<!--Add to Cart-->
<!--</a>-->
<!--<a class="same-action compare-mrg" data-target="#exampleCompare" data-toggle="modal"-->
<!--title="Compare" href="#">-->
<!--<i class="fa fa-sliders fa-rotate-90"></i>-->
<!--</a>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
{% include 'shop/include/partner-brand.html' %}
{% include 'shop/include/shop-service-page.html' %}
{% endblock %}
<!-- Nav-bar Area End Here-->
