{% extends 'shop/base.html' %}
{% load staticfiles %}


<!-- Site Title -->
{% block title%}<title>Games Subscription Plans</title>{% endblock %}

{% block navbar %}
{% if plans %}
<meta name="description" content="low price subscription plans for consoles games, play unlimited consoles games, games at cheap price">
<div class="breadcrumb-area black-bg-4">
    <div class="container">
        <div class="breadcrumb-content">
            <ul>
                <li><a href="{% url 'shop:homepage' %}">HOME</a></li>
                <li class="active">SUBSCRIPTIONS</li>
            </ul>
        </div>
    </div>
</div>
{% endif %}
<div class="blog-area pt-65 pb-65 black-bg-5 blog-game">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="tab-content jump">
                    <div class="tab-pane active" id="product-list">
                        <div class="row">
                            {% for plan in plans %}
                            <div class="col-lg-12">
                                <div class="product-list-wrapper shop-border mb-40 pb-40">
                                    <div class="product-img">
                                        <a href="{{ plan.get_absolute_url }}"><img src="{{ plan.image.url }}"
                                                                                   width="240"
                                                                                   height="240" alt=""></a>
                                        {% if plan.discount %}
                                        <span> {{ plan.discount }}% Off!</span>
                                        {% endif %}
                                    </div>
                                    <div class="product-list-content">
                                        <span>₹ {{ plan.get_monthly_subscription_amount }} Monthly</span>
                                        <h4><a href="{{ plan.get_absolute_url }}">{{ plan.name }}</a></h4>
                                        <div class="product-rating">
                                            <i class="ion-android-star-outline theme-star"></i>
                                            <i class="ion-android-star-outline theme-star"></i>
                                            <i class="ion-android-star-outline theme-star"></i>
                                            <i class="ion-android-star-outline theme-star"></i>
                                            <i class="ion-android-star-outline"></i>
                                        </div>
                                        <div class="product-price-wrapper">
                                            {% if plan.discount != 0 %}
                                            <span class="product-price-old">₹ {{ plan.subscription_amount }}</span>
                                            <span>₹ {{ plan.get_plan_selling_price }} for {{ plan.duration }} Months</span>
                                            {% else %}
                                            <span>₹ {{ plan.get_plan_selling_price }} for {{ plan.duration }} Months</span>
                                            {% endif %}
                                        </div>
                                        <p>{{ plan.get_plan_description|striptags }}</p>
                                        {% if plan.active %}
                                        {% if user.userprofile.has_subscription %}
                                        <h3>Hi! You already started hunting.</h3>
                                        {% else %}
                                        <div class="product-action">
                                            <a class="action-cart" href="#"
                                               title="{% url 'carts:add-plan' plan.slug %}"> Add to Cart </a>
                                        </div>
                                        {% endif %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% include 'shop/include/shop-service-page.html' %}
{% endblock %}
<!-- Nav-bar Area End Here-->

<!-- Coverpage Area Starts Here-->
{% block coverpage %}
{% endblock %}
<!-- Coverpage Area End Here-->

<!-- Featured Product Area Starts Here-->
{% block featuredproducts %}
{% endblock %}
<!-- Featured Product Area Ends Here-->

<!-- Banner-1 Area Starts Here-->
{% block banner1 %}
{% endblock %}
<!-- Banner-1 Area Ends Here-->

<!-- Homepage-Console-Category Area Starts Here-->
{% block consolecategory %}
{% endblock %}
<!-- Homepage-Console-Category Area Ends Here-->

<!-- Banner-2 Area Starts Here-->
{% block banner2 %}
{% endblock %}
<!-- Banner-2 Area Ends Here-->

<!-- Homepage-Blogs Area Starts Here-->
{% block blogging %}
{% endblock %}
<!-- Homepage-Blogs Area Ends Here-->
<!-- Footer Area Start Here -->
{% block footer %}
{% endblock %}
<!-- Footer Area Ends -->