{% extends 'shop/base.html' %}
{% load staticfiles %}
{% load thumbnail %}
<!-- Site Title -->
{% block title%}<title>Rental Plan {{ plan.name|title }}</title>{% endblock %}

{% block navbar %}
<meta name="title" content="buy rental plan {{ plan.name|lower }} for unlimited playstation and xbox games, available at gamehunter.in">
<meta name="description" content="Subscribe for unlimited games available at gamehunter">
{% if plan.active %}
<div class="breadcrumb-area gray-bg-5">
    <div class="container">
        <div class="breadcrumb-content">
            <ul>
                <li><a href="{% url 'shop:homepage' %}">HOME</a></li>
                <li><a href="{% url 'shop:subscription-list' %}">SUBSCRIPTION</a></li>
                <li class="active">{{ plan.name|upper }}</li>
            </ul>
        </div>
    </div>
</div>
<div class="product-details pt-65 pb-65">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="product-details-img">
                    <div class="zoompro-span">
                        {% if plan.image.url %}
                        {% thumbnail plan.image "560x560" crop="center" quality=70 as im %}
                                <img src="{{ im.url }}" height="{{ im.height }}" width="{{ im.width }}"></a>
                        {% endthumbnail %}
                        {% else %}
                        <img src="{% static 'img/images/no-image.jpg' %}"
                             data-zoom-image="{% static 'img/images/no-image.jpg' %}" alt=""
                             height="560" width="560">
                        {% endif %}
                        <!--<div class="product-video">-->
                        <!--<a class="video-popup" href="https://www.youtube.com/watch?v=tce_Ap96b0c">-->
                        <!--<i class="fa fa-video-camera"></i>-->
                        <!--View Video-->
                        <!--</a>-->
                        <!--</div>-->
                    </div>
                    <div id="gallery" class="mt-20 product-dec-slider owl-carousel">
                        <a data-image="{{ plan.image.url }}"
                           data-zoom-image="{{ plan.image.url }}">
                            <img src="{{ plan.image.url }}" alt="" height="108px" width="90px">
                        </a>
                    </div>
                    {% if plan.discount %}
                    <span> {{ plan.discount }}% Off!</span>
                    {% endif %}
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="product-details-content">
                    <h1>{{ plan.name|upper }} </h1>
                    <div class="rating-review">
                        <div class="pro-dec-rating">
                            <i class="ion-android-star-outline theme-star"></i>
                            <i class="ion-android-star-outline theme-star"></i>
                            <i class="ion-android-star-outline theme-star"></i>
                            <i class="ion-android-star-outline theme-star"></i>
                            <i class="ion-android-star-outline"></i>
                        </div>
                        <!--<div class="pro-dec-review">-->
                        <!--<ul>-->
                        <!--<li>32 Reviews</li>-->
                        <!--</ul>-->
                        <!--</div>-->
                    </div>
                    {% if plan.active %}
                    {% if plan.type == "SB" %}
                    {% if plan.discount != 0 %}
                    <span class="product-old-price">₹ {{ plan.subscription_amount }}</span>
                    <span>₹ {{ plan.get_plan_selling_price }} for {{ plan.duration }} Months</span>
                    {% else %}
                    <span>₹ {{ plan.subscription_amount }} for {{ plan.duration }} Months</span>
                    {% endif %}
                    <div class="product-list" style="text-indent: 0; font-size: 16px; color:black;">
                        <ul>
                            <li>Get Games at ₹ {{ plan.get_monthly_subscription_selling_price }} Per Month.</li>
                            <li>Select any game from the website.</li>
                            {% if plan.swaps > 0 %}
                            <li>Available Free monthly swaps: {{ plan.swaps }} per Month</li>
                            {% endif %}
                            <li>Two Games at a Time.</li>
                            <li>New Games Available.</li>
                            <li>Play as long as you want (unlimited time frame).</li>
                            <li>Physical disc.</li>
                            <li>Door to Door free service (Shipping & Return).</li>
                            {% if plan.additional_month > 0 %}
                            <li>Subscription Duration: <span>{{ plan.duration }} Month + {{ plan.additional_month }} Month Extra!</span>
                            </li>
                            {% else %}
                            <li>Subscription Duration: <span>{{ plan.duration }} Month</span></li>
                            {% endif %}
                            <li>Additional Security Deposit: {% if plan.security_deposit > 0 and plan.refundable %}<span>₹ {{ plan.security_deposit }}
                                    Refundable!</span>
                                {% elif plan.security_deposit > 0 and not plan.refundable %}<span>₹ {{ plan.security_deposit }} Not
                                    Refundable!</span>
                                {% endif %}</li>
                        </ul>
                    </div>
                    {% else %}
                    <span>Get any Game at ₹ 500/-</span>
                    <h3 style="margin: 10px;">Register with ₹ {{ plan.security_deposit }} for {{ plan.duration }} months </h3>
                    <div class="product-list" style="text-indent: 0; font-size: 16px; color:black;">
                        <li>Select any game from the website.</li>
                        <li>Rent as many time as you want.</li>
                        <li>Door to Door free service (Shipping & Return).</li>
                        <li>One Game at a Time.</li>
                        <li>New Games Available.</li>
                        <li>Play as long as you want (unlimited time frame).</li>
                        <li>Physical disc.</li>
                        <li>Plan Validity: <span>{{ plan.duration }} months</span></li>
                    </div>
                    {% endif %}
                    {% endif %}
                    {% if plan.type == "GB" %}
                    <div class="my-alert alert-orange">
                        <div class="Message-icon">
                            <i class="fa fa-exclamation" style="font-size:36px"></i>
                        </div>
                        <div class="Message-body">
                            <p>Buy the plan & rent all games for ₹ 500/- only</p>
                        </div>
                    </div>
                    {% endif %}
                    <p class="product-description-wrapper">{{ plan.get_plan_description|safe }} </p>
                    <!--<div class="pro-dec-feature">-->
                    <!--<ul>-->
                    <!--<li><input type="checkbox"> Protection Plan: <span> 2 year  $4.99</span></li>-->
                    <!--<li><input type="checkbox"> Remote Holder: <span> $9.99</span></li>-->
                    <!--<li><input type="checkbox"> Koral Alexa Voice Remote Case: <span> Red  $16.99</span></li>-->
                    <!--<li><input type="checkbox"> Amazon Basics HD Antenna: <span>25 Mile  $14.99</span></li>-->
                    <!--</ul>-->
                    <!--</div>-->
                    <div class="quality-add-to-cart">
                        <!--<div class="quality">-->
                        <!--<label>Qty:</label>-->
                        <!--<input class="cart-plus-minus-box" type="text" name="qtybutton" value="02">-->
                        <!--</div>-->
                        {% if plan.active %}
                        {% if user.userprofile.has_subscription %}
                        <div class="product-action">
                            <a class="action-cart" href="#" style="background-color: #ff9900;"
                               title="Choose Your Games"> Choose Your Games </a>
                        </div>
                        {% else %}
                        <div class="product-action">
                            <a class="action-cart" title="Add To Cart" href="{% url 'carts:add-plan' plan.slug %}">Add to Cart</a>
                            <!--<a class="same-action" title="Wishlist" href="#">-->
                            <!--<i class="fa fa-heart-o"></i>-->
                            <!--</a>-->
                            <!--<a class="same-action compare-mrg" data-target="#exampleCompare" data-toggle="modal"-->
                            <!--title="Compare" href="#">-->
                            <!--<i class="fa fa-sliders fa-rotate-90"></i>-->
                            <!--</a>-->
                        </div>
                        {% endif %}
                        {% endif %}
                    </div>
                    <!-- <div class="pro-dec-categories">
                    <ul>
                    <li class="categories-title">Available for:</li>
                    {% for item in product.item_type.all %}
                    <li><a href="#">{{item}},</a></li>
                    {% endfor %}
                    </ul>
                    </div>
                    <div class="pro-dec-categories">
                    <ul>
                    <li class="categories-title">Tags:</li>
                    <li><a href="#">Plazatheme,</a></li>
                    <li><a href="#"> Table, </a></li>
                    <li><a href="#">Woo,</a></li>
                    <li><a href="#"> e-Commerce,</a></li>
                    </ul>
                    </div> -->
                    <div class="pro-dec-social">
                        <ul>
                            <span>Share :</span>
                            <div class="a2a_kit a2a_kit_size_32 a2a_default_style">
                                <a class="a2a_button_facebook"></a>
                                <a class="a2a_button_twitter"></a>
                                <a class="a2a_button_whatsapp"></a>
                            </div>
                        </ul>
                    </div>
                    <!-- <div class="pro-dec-btn">
                        <a href="#"><i class="fa fa-angle-left"></i></a>
                        <a href="#"><i class="fa fa-angle-right"></i></a>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>
<div class="description-review-area pt-25 pb-70">
    <div class="container">
        <div class="description-review-wrapper">
            <div class="description-review-topbar nav text-center">
                <a class="active" data-toggle="tab" href="#des-details1">Description</a>
                <a data-toggle="tab" href="#des-details2">Term & Condition</a>
            </div>
            <div class="tab-content description-review-bottom">
                <div id="des-details1" class="tab-pane active">
                    <div class="product-description-wrapper">
                    {{ plan.description|safe }}
                    </div>
                </div>
                <div id="des-details2" class="tab-pane">
                    <div class="product-anotherinfo-wrapper">
                        <p>{{ plan.term_condition|safe }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% include 'shop/include/shop-service-page.html' %}
<script>
var a2a_config = a2a_config || {};
a2a_config.onclick = 1;
a2a_config.num_services = 4;
</script>
<script async src="https://static.addtoany.com/menu/page.js"></script>
{% endblock %}
<!-- Nav-bar Area End Here-->
