{% extends 'shop/base.html' %} {% load staticfiles %}<!-- Site Title -->{% block title%}

<title>Subscribe | Buy | Sell {% if category %} {{ category.name|title }} Games Online at GameHunter {% endif %}
</title>{% endblock %}{% block navbar %}
{% if category %}
<div class="breadcrumb-area black-bg-4">
    <div class="container">
        <div class="breadcrumb-content">
            <ul>
                <li><a href="{% url 'shop:homepage' %}">HOME </a></li>
                <li class="active">{{ category.name|upper }}</li>
            </ul>
        </div>
    </div>
</div>
{% endif %}
<div class="shop-page-area pt-30 pb-65 black-bg-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="shop-sidebar-wrapper black-bg-4">
                    <!--<div class="shop-widget"><h4 class="shop-sidebar-title">Shop By Categories</h4>-->
                    <!--<div class="shop-catigory">-->
                    <!--<ul id="faq">-->
                    <!--<li><a data-toggle="collapse" data-parent="#faq" href="#shop-catigory-1">-->
                    <!--{{ category_name.get_root }}<i class="ion-ios-arrow-down"></i></a>-->
                    <!--<ul id="shop-catigory-1" class="panel-collapse collapse show">-->
                    <!--<li><a href="#">Accessories</a></li>-->
                    <!--<li><a href="#">Bags & Cases</a></li>-->
                    <!--<li><a href="#">Binoculars & Scopes</a></li>-->
                    <!--<li><a href="#">Digital Cameras</a></li>-->
                    <!--<li><a href="#">Film Photography</a></li>-->
                    <!--</ul>-->
                    <!--</li>-->
                    <!--<li><a data-toggle="collapse" data-parent="#faq" href="#shop-catigory-2">Living room <i-->
                    <!--class="ion-ios-arrow-down"></i></a>-->
                    <!--<ul id="shop-catigory-2" class="panel-collapse collapse">-->
                    <!--<li><a href="#">Accessories</a></li>-->
                    <!--<li><a href="#">Bags & Cases</a></li>-->
                    <!--<li><a href="#">Binoculars & Scopes</a></li>-->
                    <!--<li><a href="#">Digital Cameras</a></li>-->
                    <!--<li><a href="#">Film Photography</a></li>-->
                    <!--</ul>-->
                    <!--</li>-->
                    <!--<li><a data-toggle="collapse" data-parent="#faq" href="#shop-catigory-3">Lighting-->
                    <!--Furniture <i class="ion-ios-arrow-down"></i></a>-->
                    <!--<ul id="shop-catigory-3" class="panel-collapse collapse">-->
                    <!--<li><a href="#">Accessories</a></li>-->
                    <!--<li><a href="#">Bags & Cases</a></li>-->
                    <!--<li><a href="#">Binoculars & Scopes</a></li>-->
                    <!--<li><a href="#">Digital Cameras</a></li>-->
                    <!--<li><a href="#">Film Photography</a></li>-->
                    <!--</ul>-->
                    <!--</li>-->
                    <!--<li><a href="#">Outdoor</a></li>-->
                    <!--<li><a href="#">Tablets</a></li>-->
                    <!--<li><a href="#">Accessories</a></li>-->
                    <!--</ul>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--<div class="shop-price-filter mt-40 shop-sidebar-border pt-35">-->
                    <!--<h4 class="shop-sidebar-title">Price Filter</h4>--><!--<div class="price_filter mt-25">-->
                    <!--<span>Range:  $100.00 - 1.300.00 </span>--><!--<div id="slider-range"></div>-->
                    <!--<div class="price_slider_amount">--><!--<div class="label-input">-->
                    <!--<input type="text" id="amount" name="price" placeholder="Add Your Price"/>--><!--</div>-->
                    <!--<button type="button">Filter</button>--><!--</div>--><!--</div>--><!--</div>-->
                    {% if developers %}
                    <div class="shop-widget mt-40 shop-sidebar-border pt-35"><h4 class="shop-sidebar-title">
                        Developer</h4>
                        <div class="sidebar-list-style mt-20">
                            <ul>
                                {% for developer in developers %}
                                {% if developer.developer__name != None %}
                                <li><input name="developers" type="checkbox"><a href="#">{{ developer.developer__name }}</a></li>
                                {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    {% endif %}
                    {% if publishers %}
                    <div class="shop-widget mt-40 shop-sidebar-border pt-35"><h4 class="shop-sidebar-title">
                        Publisher</h4>
                        <div class="sidebar-list-style mt-20">
                            <ul>
                                {% for publisher in publishers %}
                                {% if publisher.publisher__name != None %}
                                <li><input type="checkbox"><a href="#">{{ publisher.publisher__name }}</a></li>
                                {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    {% endif %}
                    {% if genres %}
                    <div class="shop-widget mt-40 shop-sidebar-border pt-35"><h4 class="shop-sidebar-title">Genre</h4>
                        <div class="sidebar-list-style mt-20">
                            <ul>
                                {% for genre in genres %}
                                {% if genre.genre__genre != None %}
                                <li><input type="checkbox"><a href="#">{{ genre.genre__genre }}</a></li>
                                {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    {% endif %}
                    <!--<div class="shop-widget mt-40 shop-sidebar-border pt-35"><h4 class="shop-sidebar-title">By-->
                    <!--Launch Year</h4>-->
                    <!--<div class="sidebar-list-style mt-20">-->
                    <!--<ul>-->
                    <!--<li><input type="checkbox"><a href="#">Black </a></li>-->
                    <!--<li><input type="checkbox"><a href="#">Blue </a></li>-->
                    <!--<li><input type="checkbox"><a href="#">Green </a></li>-->
                    <!--<li><input type="checkbox"><a href="#">Grey </a></li>-->
                    <!--<li><input type="checkbox"><a href="#">Red</a></li>-->
                    <!--<li><input type="checkbox"><a href="#">White </a></li>-->
                    <!--<li><input type="checkbox"><a href="#">Yellow </a></li>-->
                    <!--</ul>-->
                    <!--</div>-->
                    <!--</div>-->
                </div>
            </div>
            <div class="col-lg-9">
                <!--<div class="banner-area pb-30 mrg-top-md mrg-top-sm">-->
                <!--<a href="#"><img alt="" src="{% static 'img/banner/banner-49.jpg' %}"></a>-->
                <!--</div>-->
                <div class="shop-topbar-wrapper">
                    <div class="shop-topbar-left">
                        {% include 'shop/include/upper_paginator.html' %}
                        <div class="product-sorting-wrapper">
                            <!--<div class="product-shorting shorting-style"><label>View:</label><select>-->
                            <!--<option value=""> 20</option>-->
                            <!--<option value=""> 23</option>-->
                            <!--<option value=""> 30</option>-->
                            <!--</select>-->
                            <!--</div>-->
                            <form action="{% url 'shop:search' %}" method="GET">
                            <div class="product-show shorting-style">
                                <label>Sort by:</label>
                                <select>
                                    <option name="date" value="price"> Date</option>
                                    <option name="name" value="name"> Name</option>
                                    <option name="price" value="price"> Price</option>
                                </select>
                            </div>
                            </form>
                        </div>
                    </div>
                    <div class="tab-content jump">
                        <div class="tab-pane active pb-20" id="product-grid">
                            <div class="row">
                                {% for product in products %}
                                <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-12 mb-30">
                                    <div class="devita-product-2 mrg-inherit">
                                        <div class="product-img">
                                            <a href="{{ product.get_absolute_url }}">
                                                <img src="{% if product.get_default_photo.file %}
                                                        {{product.get_default_photo.file.url}}
                                                      {% else %}
                                                        {% static 'img/product/default-product-image.png' %}
                                                      {% endif %}" alt="" width="210" height="210">
                                            </a>
                                            {% ifequal product.item_status 'I' %}
                                            {% if product.total_discount %}
                                            <span>{{product.total_discount}}%</span>
                                            {% endif %}
                                            {% endifequal %}
                                        </div>
                                        <div class="list-col">
                                            <div class="gridview">
                                                <div class="product-content text-center">
                                                    <span><b>For {{ product.category.name|upper }}</b></span>
                                                    <h4><a href="{{ product.get_absolute_url }}">
                                                        {{ product.get_product_title_name|title }}</a></h4>
                                                    {% ifequal product.item_status 'O' %}
                                                    <div class="product-price-wrapper">
                                                        <span> Out of Stock </span>
                                                    </div>
                                                    {% else %}
                                                    {% ifequal product.total_discount 0 %}
                                                    <div class="product-price-wrapper">
                                                        <span>₹ {{ product.get_mrp_and_selling_price|last }}</span>
                                                    </div>
                                                    {% else %}
                                                    <div class="product-price-wrapper">
                                                        <span>₹ {{ product.get_mrp_and_selling_price|first }}</span>
                                                        <span class="product-price-old">₹ {{ product.get_mrp_and_selling_price|last }}</span>
                                                    </div>
                                                    {% endifequal %}
                                                    {% endifequal %}
                                                </div>
                                                <div class="product-action-wrapper-2 text-center">
                                                    <div class="product-rating">
                                                        <i class="ion-android-star-outline theme-star"></i>
                                                        <i class="ion-android-star-outline theme-star"></i>
                                                        <i class="ion-android-star-outline theme-star"></i>
                                                        <i class="ion-android-star-outline theme-star"></i>
                                                        <i class="ion-android-star-outline"></i>
                                                    </div>
                                                    <p>{{ product.get_product_description|safe|title }}</p>
                                                    <div class="product-action">
                                                        <!--<a class="same-action" title="Wishlist" href="#">-->
                                                        <!--<i class="fa fa-heart-o"></i>-->
                                                        <!--</a>-->
                                                        {% ifequal product.item_status 'I' %}
                                                        {% if product in cart.products.all %}
                                                        <a class="action-cart" title="Go To Cart"
                                                           href="{% url 'carts:cart' %}">
                                                            Go to Cart
                                                        </a>
                                                        {% else%}
                                                        <a class="action-cart" title="Add To Cart"
                                                           href="{% url 'carts:add' product.slug %}">
                                                            Add to Cart
                                                        </a>
                                                        {% endif %}
                                                        {% endifequal %}
                                                        <!--<a class="same-action compare-mrg" data-target="#exampleCompare"-->
                                                        <!--data-toggle="modal" title="Compare" href="#">-->
                                                        <!--<i class="fa fa-sliders fa-rotate-90"></i>-->
                                                        <!--</a>-->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                            {% include 'shop/include/lower_paginator.html' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="brand-logo-area black-bg-5">
            <div class="container">
            </div>
        </div>
    </div>
    {% include 'shop/include/shop-service-page.html' %}
    {% endblock %}
    <!-- Nav-bar Area End Here-->

    <!-- Coverpage Area Starts Here-->
    {% block coverpage %}
    {% endblock %}
    <!-- Coverpage Area End Here-->

