{% extends 'shop/base.html' %}
{% load staticfiles %}
{% load thumbnail %}
<!-- Site Title -->
{% block title%}<title>Buy or Rent Online {{ product.name|title }} for {{ product.category|upper }} in India, Availablero at GameHunter.in</title>{% endblock %}

{% block navbar %}
<meta name="title" content="Buy or Rent Online {{ product.name|title }} for {{ product.category|upper }} in India, Available at Gamehunter.in">
<meta name="description" content="{{ product.get_product_description|striptags }}"/>
<div class="breadcrumb-area gray-bg-5">
    <div class="container">
        <div class="breadcrumb-content">
            <ul>
                <li><a href="{% url 'shop:homepage' %}">HOME</a></li>
                <li><a href="{% url 'shop:product-list' product.category.slug %}">{{ product.category|upper }}</a></li>
                <li class="active">{{ product.name|upper }}</li>
            </ul>
        </div>
    </div>
</div>
<div class="product-details pt-65 pb-65">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="product-details-img">
                    <div class="zoompro-span">
                        <img class="zoompro" src="{{ product.get_default_photo.file.url }}"
                             alt="{{ product.name|upper }}" width="570" height="570"/>
                        {% if product.game_trailer %}
                        <div class="product-video">
                                    <a id="video" video-url="{{ product.game_trailer }}">
                                        <i class="fa fa-video-camera"></i>
                                        Watch Trailer
                                    </a>
                        </div>
                        {% endif %}
                    </div>
                    <div id="gallery" class="mt-20 product-dec-slider owl-carousel">
                        {% for photo in product.photos_in_ascendant %}
                        <a data-image="{{ photo.file.url }}">
                            <img src="{{ photo.file.url }}" alt="" height="100" width="100">
                        </a>
                        {% endfor %}
                    </div>
                    {% if product.item_status == 'I' %}
                    {% if product.total_discount %}<span>{{product.total_discount}}% Off!</span>{% endif %}
                    {% endif %}
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="product-details-content">
                    <h4>{{ product.name|upper }} {% if product.publisher != None %} by {{ product.publisher }}
                        {% endif %}</h4>
                    <div class="rating-review">
                        <div class="pro-dec-rating">
                            <i class="ion-android-star-outline theme-star"></i>
                            <i class="ion-android-star-outline theme-star"></i>
                            <i class="ion-android-star-outline theme-star"></i>
                            <i class="ion-android-star-outline theme-star"></i>
                            <i class="ion-android-star-outline"></i>
                        </div>
                        <!--<div class="pro-dec-review">-->
                        <!--<ul>-->
                        <!--<li>32 Reviews</li>-->
                        <!--</ul>-->
                        <!--</div>-->
                    </div>
                    {% if product.item_status == 'I' %}
                    {% if product.total_discount != 0 %}
                    <span class="product-old-price">₹{{product.get_mrp_and_selling_price|last}}</span>
                    {% endif %}
                    <span>₹ {{product.get_mrp_and_selling_price|first}}</span>
                    {% elif product.item_status == 'S' %}
                    <span>Game is Available in Subscription Only</span>
                    {% else %}
                    <span>Sorry! Item is Out of Stock</span>
                    {% endif %}
                    <div class="in-stock">
                        {% if product.developer %}
                        <p>Developer: <span>{{ product.developer }}</span></p>
                        {% endif %}
                        {% if product.publisher %}
                        <p>Publisher: <span>{{ product.publisher }}</span></p>
                        {% endif %}
                        {% if product.manufacturer %}
                        <p>Manufacturer: <span>{{ product.manufacturer }}</span></p>
                        {% endif %}
                        {% if product.launch_date %}
                        <p>Release Date: <span>{{ product.launch_date|date:"b Y"|title }}</span></p>
                        {% endif %}
                        {% if product.plan.count > 0 %}
                        <p>Available for Subscription: <span>Yes</span></p>
                        {% else %}
                        <p>Available for Subscription: <span>No</span></p>
                        {% endif %}
                        {% if product.genre %}
                        <p>Genre: <span>{{ product.genre }}</span></p>
                        {% endif %}
                        <p>Item Condition: <span>{{ product.get_condition_display }}</span></p>
                        <p>Usually Shipped in: <span>2-4 Days</span></p>
                    </div>
                    {% if product.get_pay_per_game_subscription_price %}
                    <div class="my-alert alert-orange">
                        <div class="Message-icon">
                            <i class="fa fa-exclamation" style="font-size:36px"></i>
                        </div>
                        <div class="Message-body">
                            <p>To rent a game for Rs 300 or 500, you will have to buy a plan of rupee 2000.</p>
                        </div>
                    </div>
                    {% endif %}
                    {% if product.item_status == 'I' or product.item_status == 'S' %}
                    <p>{{product.description|striptags|safe|slice:":300"}}</p>
                    <!--<div class="pro-dec-feature">-->
                    <!--<ul>-->
                    <!--<li><input type="checkbox"> Protection Plan: <span> 2 year  $4.99</span></li>-->
                    <!--<li><input type="checkbox"> Remote Holder: <span> $9.99</span></li>-->
                    <!--<li><input type="checkbox"> Koral Alexa Voice Remote Case: <span> Red  $16.99</span></li>-->
                    <!--<li><input type="checkbox"> Amazon Basics HD Antenna: <span>25 Mile  $14.99</span></li>-->
                    <!--</ul>-->
                    <!--</div>-->
                    {% endif %}
                    <div class="quality-add-to-cart">
                        <!--<div class="quality">-->
                        <!--<label>Qty:</label>-->
                        <!--<input class="cart-plus-minus-box" type="text" name="qtybutton" value="02">-->
                        <!--</div>-->
                        {% if product in cart.products.all or product in cart.pay_game_products.all %}
                        <div class="product-action">
                            <a class="action-cart" title="Go To Cart" href="{% url 'carts:cart' %}">Go
                                to Cart</a>
                        </div>
                        {% else %}
                        {% if product.item_status == 'I' %}
                        <div class="product-action">
                            <!--<div class="quality">-->
                                <!--<label>Qty:</label>-->
                                <!--<input class="cart-plus-minus-box" type="text" name="qtybutton" value="02">-->
                            <!--</div>-->
                            <a id="add-to-cart" class="action-cart" title="Add To Cart"
                               href="{% url 'carts:add' product.slug %}">Add to
                                Cart</a>
                            {% if product.get_pay_per_game_subscription_price %}
                            <span style="padding-left: 15px; padding-right: 15px; font-size: 24px;">Or</span>
                            <a class="action-cart"
                               title="Get This Game on Subscription at rupee {{ product.get_pay_per_game_subscription_price.value }} Only"
                               href="{% url 'carts:pay-per-game-product' product.slug %}">Get @
                                ₹{{ product.get_pay_per_game_subscription_price.value }} Only</a>
                            {% endif %}
                        </div>
                        {% elif product.item_status == 'S' %}
                        <div class="product-action">
                            <a class="action-cart" title="Buy Subscription" href="{% url 'shop:subscription-list' %}">Buy
                                Subscription</a>
                            {% if product.get_pay_per_game_subscription_price %}
                            <span style="padding-left: 15px; padding-right: 15px; font-size: 24px;">Or</span>
                            <a class="action-cart"
                               title="Get This Game on Subscription at rupee {{ product.get_pay_per_game_subscription_price.value }} Only"
                               href="{% url 'carts:pay-per-game-product' product.slug %}">Get @
                                ₹{{ product.get_pay_per_game_subscription_price.value }} Only</a>
                            {% endif %}
                        </div>
                        {% endif %}
                        {% endif %}
                    </div>
                    <!--<div class="pro-dec-categories">-->
                    <!--<ul>-->
                    <!--<li class="categories-title">Available for:</li>-->
                    <!--{% for item in product.item_type.all %}-->
                    <!--<li><a href="#">{{item}},</a></li>-->
                    <!--{% endfor %}-->
                    <!--</ul>-->
                    <!--</div>-->
                    <!--<div class="pro-dec-categories">-->
                    <!--<ul>-->
                    <!--<li class="categories-title">Tags:</li>-->
                    <!--<li><a href="#">Plazatheme,</a></li>-->
                    <!--<li><a href="#"> Table, </a></li>-->
                    <!--<li><a href="#">Woo,</a></li>-->
                    <!--<li><a href="#"> e-Commerce,</a></li>-->
                    <!--</ul>-->
                    <!--</div>-->
                    <div class="pro-dec-social">
                        <ul>
                            <span>Share :</span>
                            <div class="a2a_kit a2a_kit_size_32 a2a_default_style">
                                <a class="a2a_button_facebook"></a>
                                <a class="a2a_button_twitter"></a>
                                <a class="a2a_button_whatsapp"></a>
                            </div>
                        </ul>
                    </div>
                    <!--<div class="pro-dec-btn">-->
                    <!--<a href="#"><i class="fa fa-angle-left"></i></a>-->
                    <!--<a href="#"><i class="fa fa-angle-right"></i></a>-->
                    <!--</div>-->
                </div>
            </div>
        </div>
    </div>
</div>
<div class="description-review-area pt-25 pb-70">
    <div class="container">
        <div class="description-review-wrapper">
            <div class="description-review-topbar nav text-center">
                <a class="active" data-toggle="tab" href="#des-details1">Description</a>
                <!--<a data-toggle="tab" href="#des-details2">Shipping Policy</a>-->
            </div>
            <div class="tab-content description-review-bottom">
                <div id="des-details1" class="tab-pane active">
                    <div class="product-description-wrapper">
                        <p>{{ product.description|safe }}</p>
                    </div>
                </div>
                <!--<div id="des-details2" class="tab-pane">-->
                <!--<div class="product-anotherinfo-wrapper">-->
                <!--<p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel-->
                <!--illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui-->
                <!--blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam-->
                <!--liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim-->
                <!--placerat facer possim assum. Typi non habent claritatem insitam est usus legentis in iis qui-->
                <!--facit eorum claritatem. </p>-->
                <!--<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod-->
                <!--tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis-->
                <!--nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo-->
                <!--consequat. </p>-->
                <!--<ul>-->
                <!--<li>- Typi non habent claritatem insitam</li>-->
                <!--<li>- Est usus legentis in iis qui facit eorum claritatem.</li>-->
                <!--<li>- Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius.</li>-->
                <!--<li>- Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium-->
                <!--lectorum.-->
                <!--</li>-->
                <!--</ul>-->
                <!--</div>-->
                <!--</div>-->
            </div>
        </div>
    </div>
</div>
<div class="product-area pb-45">
    <div class="container">
        <div class="section-border mb-10">
            <h4 class="section-title section-bg-white">Related Products</h4>
        </div>
        <div class="product-slider-nav nav-style"></div>
        <div class="headphone-slider-active product-slider owl-carousel nav-style">
            {% for product in related_products %}
            <div class="devita-product-2">
                <div class="product-img black-bg-5">
                    <a href="{{ product.get_absolute_url }}">
                        {% thumbnail product.get_default_photo.file "206x206" crop="center" as im %}
                                <img src="{{ im.url }}" height="{{ im.height }}" width="{{ im.width }}"></a>
                        {% endthumbnail %}
                    {% if product.item_status == "I" %}
                    {% if product.total_discount %}
                    <span>{{ product.total_discount }}%</span>
                    {% endif %}
                    {% endif %}
                </div>
                <div class="list-col">
                    <div class="gridview">
                        <div class="product-content text-center">
                            <span>For {{ product.category.name }}</span>
                            <h4><a href="{{ product.get_absolute_url }}"> {{ product.get_product_title_name|title }} </a></h4>
                            {% if product.item_status == "I" %}
                            {% ifequal product.total_discount 0 %}
                            <div class="product-price-wrapper">
                                <span>₹ {{ product.get_mrp_and_selling_price|last }}</span>
                            </div>
                            {% else %}
                            <div class="product-price-wrapper">
                                <span>₹ {{ product.get_mrp_and_selling_price|first }}</span>
                                <span class="product-price-old">₹ {{ product.get_mrp_and_selling_price|last }}</span>
                            </div>
                            {% endifequal %}
                            {% elif product.item_status == "S" %}
                            <div class="product-price-wrapper">
                                <span>Subscription Only</span>
                            </div>
                            {% endif %}
                        </div>
                        <div class="product-action-wrapper-2 text-center">
                            <div class="product-rating">
                                <i class="ion-android-star-outline theme-star"></i>
                                <i class="ion-android-star-outline theme-star"></i>
                                <i class="ion-android-star-outline theme-star"></i>
                                <i class="ion-android-star-outline theme-star"></i>
                                <i class="ion-android-star-outline"></i>
                            </div>
                            <p class="product-description-wrapper">{{ product.get_product_description|safe }} </p>
                            {% if product in cart.products.all or product in cart.pay_game_products.all %}
                            <div class="product-action">
                                <a class="action-cart" title="Go to Cart"
                                   href="{% url 'carts:cart' %}">
                                    Go to Cart
                                </a>
                            </div>
                            {% else %}
                            {% if product.item_status == "I" %}
                            <div class="product-action">
                                <a class="action-cart" title="Add to Cart"
                                   href="{% url 'carts:add' product.slug %}">
                                    Add to Cart
                                </a>
                            </div>
                            {% elif product.get_pay_per_game_subscription_price %}
                            <div class="product-action">
                                <a class="action-cart"
                                   title="Get This Game on Subscription at rupee {{ product.get_pay_per_game_subscription_price.value }} Only"
                                   href="{% url 'carts:pay-per-game-product' product.slug %}">
                                    Get @ ₹{{ product.get_pay_per_game_subscription_price.value }} Only </a>
                            </div>
                            {% else %}
                            <div class="product-action">
                                <a class="action-cart" title="Buy Subscription"
                                   href="{% url 'shop:subscription-list' %}">
                                    Buy Subscription </a>
                            </div>
                            {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% include 'shop/include/shop-service-page.html' %}
<!-- BEGIN AnnToAny CODE -->
<script>
var a2a_config = a2a_config || {};
a2a_config.onclick = 1;
a2a_config.num_services = 4;
</script>
<script async src="https://static.addtoany.com/menu/page.js"></script>
<script>
    $(function(){
        $("#video").videoPopup({
            autoplay: 1,
            controlsColor: 'white',
            showVideoInformations: 0,
            width: 1000,
            customOptions: {
                rel: 0,
                end: 60
            }
        });
    });
</script>
<!-- AddToAny END -->
{% endblock %}
<!-- Nav-bar Area End Here-->
