{% extends 'shop/base.html' %}
{% load staticfiles %}

<!-- Site Title -->
{% block title%}<title>Returns & Cancellation | Gamehunter.in </title>{% endblock %}

{% block navbar %}
<div class="breadcrumb-area gray-bg-5">
    <div class="container">
        <div class="breadcrumb-content">
            <ul>
                <li><a href="{% url 'shop:homepage' %}">HOME</a></li>
                <li class="active">CANCELLATION & RETURN</li>
            </ul>
        </div>
    </div>
</div>
<div class="about-us-area pt-80 pb-80">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-2 d-flex align-items-center">
                <div class="overview-content-2">
                    <h2>Cancellation & Return Policy</h2>
                    <p>Providing one of the best customer experience is our top most priority. We strongly recommend to
                        read our Cancellation and return policy.</p>
                    <h3>1. Cancellation of Subscription plan:</h3>
                    <ul>
                        <li>On cancellation on any account, customer need to submit the physical disc within 48 hours
                            in same condition as it was provided by GameHunter, else cancellation request won’t get
                            processed.
                        </li>
                        <li>We will charge membership fees for next 15 days starting from cancellation request date.
                        </li>
                        <li>Refund will get initiated within 48 hours and reflect in your bank account within 5-7
                            business days (as per bank’s policy), once we receive the game CDs at GameHunter facility.
                        </li>
                        <li>Refund of security is subjected to quality check of the gaming CDs.</li>
                    </ul>
                    <h3>2. Cancellation of orders:</h3>
                    <ul>
                        <li>Cancellation of any order can be done within 24 hours of order placed.</li>
                        <li>Refund of cancellation will be initiated within 48 hours by same mode of payment and
                            refunded amount will reflect in your account within 5-7 business days (as per bank’s policy,
                            if paid online).
                        </li>
                        <li>If package gets shipped, no cancellation request will be entertain.</li>
                    </ul>
                    <h3>3. Return for Subscription plan:</h3>
                    <ul>
                        <li>Return policy is not applicable on subscription plan.</li>
                        <li>If any customer do not like the game, they can exchange the game at any point of time.</li>
                    </ul>
                    <h3>Return of orders:</h3>
                    <ul>
                        <li>Returns are depend on different game categories, we request you to please check the product
                            detail page for returnable and non-returnable category.
                        </li>
                        <li>Any returns made should have proper packaging, if seal of any game is tampered, return
                            request will not be entertained.
                        </li>
                        <li>Refund will get initiated within 48 hours and reflect in your bank account within 5-7
                            business days (as per bank’s policy), once we receive the game CDs at GameHunter facility.
                        </li>
                        <li>Return is subjected to quality check.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--<div class="banner-area">-->
<!--<div class="container">-->
<!--<div class="row">-->
<!--<div class="col-lg-8 col-md-8">-->
<!--<div class="banner-img banner-hover banner-mrg">-->
<!--<a href="#">-->
<!--<img src="assets/img/banner/banner-10.jpg" alt="">-->
<!--</a>-->
<!--</div>-->
<!--</div>-->
<!--<div class="col-lg-4 col-md-4">-->
<!--<div class="banner-img banner-mrg-left-2 banner-hover">-->
<!--<a href="#">-->
<!--<img src="assets/img/banner/banner-11.jpg" alt="">-->
<!--</a>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
{% include 'shop/include/shop-service-page.html' %}
{% endblock %}
<!-- Nav-bar Area End Here-->

<!-- Coverpage Area Starts Here-->
{% block coverpage %}
{% endblock %}
<!-- Coverpage Area End Here-->