{% extends 'shop/base.html' %}
{% load staticfiles %}
{% block title%}<title>Sell Your Games</title>{% endblock %}
{% block navbar %}
<div class="breadcrumb-area black-bg-4">
    <div class="container">
        <div class="breadcrumb-content">
            <ul>
                <li><a href="{% url 'shop:homepage' %}">HOME</a></li>
                <li CLASS="active">SELL YOUR GAME</li>
            </ul>
        </div>
    </div>
</div>
<!-- sell your game -area start -->
<div class="checkout-area pb-45 pt-65 black-bg-5 ">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="checkout-wrapper">
                    <div id="faq" class="panel-group">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h5 class="panel-title"><span></span> <a data-toggle="collapse" data-parent="#faq">
                                    Shipping Details</a></h5>
                            </div>
                            <div id="payment-1" class="panel-collapse collapse show">
                                <div class="panel-body">
                                    <form method="POST">
                                        {% csrf_token %}
                                        <div class="billing-information-wrapper">
                                            <div class="row">
                                                <div class="col-lg-6 col-md-6">
                                                    <div class="billing-info">
                                                        <label>Name of Game</label>
                                                        {{ form.game_name }}
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-md-6">
                                                    <div class="billing-info">
                                                        <label>Your Name</label>
                                                        {{ form.name }}
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-md-6">
                                                    <div class="billing-info">
                                                        <label>Email Address</label>
                                                        {% if user.is_authenticated %}
                                                        <input type="email" placeholder="Email" readonly="readonly" value="{{ request.user.email }}">
                                                        {% else %}
                                                        {{ form.email }}
                                                        {% endif %}
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-md-6">
                                                    <div class="billing-info">
                                                        <label>Mobile</label>
                                                        {{ form.mobile }}
                                                    </div>
                                                </div>
                                                <div class="col-lg-12 col-md-12">
                                                    <div class="billing-info">
                                                        <label>Address of Pickup</label>
                                                        {{ form.pickup_address }}
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-md-6">
                                                    <div class="billing-info">
                                                        <label>city</label>
                                                        {{ form.city }}
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-md-6">
                                                    <div class="billing-info">
                                                        <label>state</label>
                                                        {{ form.state }}
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-md-6">
                                                    <div class="billing-info">
                                                        <label>Pin Code</label>
                                                        {{ form.pincode }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="billing-back-btn">
                                                <div class="billing-back">
                                                    <button type="submit">Submit</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'shop/include/partner-brand.html' %}
{% include 'shop/include/shop-service-page.html' %}
{% endblock %}