{% extends 'shop/base.html' %}
{% load staticfiles %}

<!-- Site Title -->
{% block title%}<title>Shipping Policy | Gamehunter.in </title>{% endblock %}

{% block navbar %}
<div class="breadcrumb-area black-bg-4">
    <div class="container">
        <div class="breadcrumb-content">
            <ul>
                <li><a href="{% url 'shop:homepage' %}">HOME</a></li>
                <li class="active">SHIPPING POLICY</li>
            </ul>
        </div>
    </div>
</div>
<div class="about-us-area pt-80 pb-80 black-bg-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-2 d-flex align-items-center">
                <div class="overview-content-2">
                    <h2>Shipping Policy</h2>
                    <p>With complete team efforts, we are able to cover more than 25, 000 PIN Code Pan India. We believe
                        to reach all places in India.</p>
                    <h3>Logistic Partner: </h3>
                    <p>We use Multi brands logistic services to deliver your games. The delivery partner is selected
                        according to delivery time and PIN code. We always wish to provide fastest door to door
                        delivery.</p>
                    <h3>Logistic Time:</h3>
                    <p>We work on standard protocols. GameHutner delivery time depends on your area Pin code and state
                        zone.</p>
                    <ul>
                        <li>1. Zone A: 1 - 2 Days Delivery.</li>
                        <li>2. Zone B: 2 - 3 Days Delivery.</li>
                        <li>3. Zone C: 3 - 4 Days Delivery.</li>
                        <li>4. Zone D: 4 - 5 Days Delivery.</li>
                        <li>5. Zone E: 5 – 6 Days Delivery.</li>
                    </ul>
                    <h3>Reverse Pickup:</h3>
                    <p>We provide reverse pickup of the products on maximum of the serviceable PIN Codes. In case you’re
                        area PIN code do not fall under serviceable PIN Code, customer need to send the product by their
                        own.</p>
                    <h3>Delivery Charges:</h3>
                    <p>Delivery charges vary as per the product you purchase and would be communicated clearly at the
                        time of checkout. </p>
                    <p>Note: There will be no delivery charges for Subscribers of Gaming library.</p>
                    <h3>Order Tracking:</h3>
                    <p>You will receive notification over email regarding tracking details of the products. Email will
                        have link to track your products.</p>
                    <h3>Cash on Delivery Charges:</h3>
                    <p>Cash on delivery charge may applicable on different area PIN Codes and would be communicated
                        clearly at the time of checkout. </p>
                    <p>Note: Gaming Subscription is not applicable for cash on delivery model. You need to make online
                        payment to avail subscription. </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--<div class="banner-area">-->
<!--<div class="container">-->
<!--<div class="row">-->
<!--<div class="col-lg-8 col-md-8">-->
<!--<div class="banner-img banner-hover banner-mrg">-->
<!--<a href="#">-->
<!--<img src="assets/img/banner/banner-10.jpg" alt="">-->
<!--</a>-->
<!--</div>-->
<!--</div>-->
<!--<div class="col-lg-4 col-md-4">-->
<!--<div class="banner-img banner-mrg-left-2 banner-hover">-->
<!--<a href="#">-->
<!--<img src="assets/img/banner/banner-11.jpg" alt="">-->
<!--</a>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<div class="shop-service-area black-bg pt-65">
    <div class="container">
        <div class="shop-service-wrapper black-bg-2">
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <div class="shop-service-content text-center">
                        <h4>Free Shipping</h4>
                        <p>Free shipping on all order</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="shop-service-content text-center">
                        <h4>Money Return</h4>
                        <p>30 days for free return</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="shop-service-content text-center border-none">
                        <h4>Online Support</h4>
                        <p>Support 24 hours a day</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
<!-- Nav-bar Area End Here-->

<!-- Coverpage Area Starts Here-->
{% block coverpage %}
{% endblock %}
<!-- Coverpage Area End Here-->