{% extends 'shop/base.html' %}
{% load staticfiles %}

<!-- Site Title -->
{% block title%}<title>Term & Conditions | Gamehunter.in </title>{% endblock %}

{% block navbar %}
<div class="breadcrumb-area black-bg-4">
    <div class="container">
        <div class="breadcrumb-content">
            <ul>
                <li><a href="{% url 'shop:homepage' %}">HOME</a></li>
                <li class="active">TERMS & CONDITION</li>
            </ul>
        </div>
    </div>
</div>
<div class="about-us-area pt-80 pb-80 black-bg-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-2 d-flex align-items-center">
                <div class="overview-content-2">
                    <h2>Terms & Conditions</h2>

                    <h3>TERMS of AGREEMENT</h3>
                    <p>This Agreement applicable from the date of purchase/Subscribe of the Product[s] and will remain
                        in action till the Subscription/product time period {the tenure agreed by customer while placing
                        the order}. On cancellation of the subscription or return of the product will terminate the
                        Agreement. </p>
                    <h3>TENURE POLICY</h3>
                    <p>GameHunter provide 3 months, 6 months and one year Subscription to its customers. The tenure can
                        be cancel at any time. In case of early closure, the Customer need to place a request 24 hours
                        prior to closing action. Customer will be charged 15 days addition cancellation fees. The
                        agreement will get terminate once the subscribed CDs return to GameHunter facility in same
                        condition as it was sent. Termination is also subjected to quality check of the product. </p>

                    <h3>SECURITY DEPOSITE</h3>
                    <p>In addition to all three subscription category, Customer shall pay a refundable amount of
                        security money. The Security Deposit shall not carry any interest for the entire tenure. The
                        Security deposit shall be refundable to the Customer on the termination and after taking
                        delivery of all the products from the possession of the Customer. The security deposit is
                        subjected to quality check of the products returned. The refund will be initiated within 48
                        hours after the quality check of the product returned and the refund will get credited to
                        customer’s account within 5-7 days of refund initiation (as per bank’s policy). In case of
                        product damage/lost/non returning, the security deposit shall not be refunded to the
                        customer. </p>
                    <h3>ORDER CONFIRMATION</h3>
                    <p>Customer need to place the order by login to our website. Once the order’s payment and security
                        deposit is confirmed, Gamehunter shall share a receipt/invoice to customer over the registered
                        email ID. Every order raised by the customer shall be processed subjected to verification of the
                        information and the serviceable area PIN Code specified by the customer. </p>
                    <h3>DELIVERY POLICY</h3>
                    <p>We work on standard protocols. GameHutner delivery time depends on your area Pin code and state
                        zone. </p>
                    <ul>
                        <li>Zone A: 1 - 2 Days Delivery.</li>
                        <li>Zone B: 2 - 3 Days Delivery.</li>
                        <li>Zone C: 3 - 4 Days Delivery.</li>
                        <li>Zone D: 4 - 5 Days Delivery.</li>
                        <li>Zone E: 5 – 6 Days Delivery.</li>
                    </ul>
                    <p>Delivery charges vary as per the product you purchase and would be communicated clearly at the
                        time of checkout. </p>
                    <p>Note: There will be no delivery charges for Subscribers of Gaming library. </p>

                    <h3>SWAP OPTION</h3>
                    <p>Providing the subscription to gaming library involves swap of games. Please find swap allowed as
                        per category mentioned below: </p>
                    <ul>
                        <li>3 Months Subscription: 1 Swap Free / Month.</li>
                        <li>6 Months Subscription: 1 Swap Free / Month.</li>
                        <li>Yearly Subscription : 1 Swap Free / Month.</li>
                        <ul>

                            <p>Please note: Every Swap contains 2 game CDs. The swap of the CDs can be done only when
                                customer return both the physical CDs. </p>

                            <h3>TERMINATION / RE-AGREEMENT</h3>

                            <h4>Termination: </h4>
                            <p>Customer shall raise termination request any time during the tenure period. In case of
                                early closure, the Customer need to place a request 24 hours prior to closing action.
                                Customer will be charged 15 days addition cancellation fees. The agreement will get
                                terminate once the subscribed CDs return to GameHunter facility in same condition as it
                                was sent. Termination is also subjected to quality check of the product. </p>

                            <h4>Re-Agreement</h4>
                            <p>Customer can always extend his/her tenure period at any time during the running
                                agreement. In case of re-agreement, the Customer need to pay monthly subscription fees
                                and GameHunter will carry forward his/her security deposit to new agreement. </p>

                            <h3>AGREEMENT</h3>
                            <p>This Agreement (together with the Annexure) constitutes the entire agreement between
                                GameHunter and the Customer. The acceptance of this Agreement also signifies the
                                acceptance of the Customer, to the terms and conditions on the GameHunter website
                                (including privacy policy). </p>

                </div>
            </div>
        </div>
    </div>
</div>
<!--<div class="banner-area">-->
<!--<div class="container">-->
<!--<div class="row">-->
<!--<div class="col-lg-8 col-md-8">-->
<!--<div class="banner-img banner-hover banner-mrg">-->
<!--<a href="#">-->
<!--<img src="assets/img/banner/banner-10.jpg" alt="">-->
<!--</a>-->
<!--</div>-->
<!--</div>-->
<!--<div class="col-lg-4 col-md-4">-->
<!--<div class="banner-img banner-mrg-left-2 banner-hover">-->
<!--<a href="#">-->
<!--<img src="assets/img/banner/banner-11.jpg" alt="">-->
<!--</a>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
{% include 'shop/include/shop-service-page.html' %}
{% endblock %}
<!-- Nav-bar Area End Here-->

<!-- Coverpage Area Starts Here-->
{% block coverpage %}
{% endblock %}
<!-- Coverpage Area End Here-->