{% extends 'shop/base.html' %}
{% load staticfiles %}
{% load thumbnail %}


{% block title%}<title>My Orders</title>{% endblock %}
<meta name="robots" content="noindex" />
{% block navbar %}
<div class="breadcrumb-area gray-bg-5">
    <div class="container">
        <div class="breadcrumb-content">
            <ul>
                <li><a href="{% url 'shop:homepage' %}">HOME</a></li>
                <li class="active">MY ORDERS</li>
            </ul>
        </div>
    </div>
</div>
<!-- shopping-cart-area start -->

<div class="cart-main-area pt-60 pb-65">
    <div class="container">
        {% if orders %}
        <h3 class="page-title" align="center">My Orders</h3>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="table-content table-responsive">
                    <table>
                        <thead>
                        <tr>
                            <th></th>
                            <th>Product Name</th>
                            <th>Order Number</th>
                            <th>Order Date</th>
                            <th>Status</th>
                            <th>Track Order</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for order in orders %}
                        <tr>
                            <td class="product-thumbnail">
                                <a href="{{ order.product.get_absolute_url }}">
                                {% thumbnail order.product.get_default_photo.file "80x80" crop="center" quality=70 as im %}
                                    <img src="{{ im.url }}" height="{{ im.height }}" width="{{ im.width }}"></a>
                                {% endthumbnail %}
                            </td>
                            <td class="product-name"><a href="{{ order.product.get_absolute_url }}">
                                {{order.product.name }} for {{ order.product.category }}</a></td>
                            <td class="product-name"><a href="#">
                                {{ order.suborder_id}}</a></td>
                            <td class="product-subtotal">{{ order.order_date|date:"d F Y" }}</td>
                            <td class="product-price-cart"><span
                                    class="amount">{{ order.get_status_display }}</span>
                            </td>
                            {% if order.shipping_link %}
                            <td><div class="compare-product-btn mt-45">
                                    <a class="btn-style-2" href="{{ order.shipping_link }}" target="_blank">Track Order</a>
                                </div></td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        {% else %}
        <h3 class="page-title" align="center">Nothing here to show, to continue shopping. <a
                href="{% url 'shop:homepage' %}">Click
            here </a></h3>
        {% endif %}
    </div>

    {% include 'shop/static/shop-service-page.html' %}
    {% endblock %}
    <!-- Nav-bar Area End Here-->
